<!DOCTYPE html>
<html lang="pt">
  <head>
    <title><%= title %></title>
    <link rel="alternate" href="http://www.decidaki.com.br/parceiros/incentivos/cupons" hreflang="pt-br" />
    <%- include('../partials/head') %> 
    <meta name="description" content="Veja cupons de descontos no Decidaki antes de decidir a sua compra." />
    <meta name="keywords" content="cupons de descontos, promoções, decidaki" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="http://www.decidaki.com.br/parceiros/incentivos/cupons" /> 
  </head>

  <body style="">

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MV9HDK3"
    height="0" width="0" class="google_info"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Begin page content -->
    <div class="container-fluid">

      <%- include('../partials/nav_head') %> 

        <!-- cupons de desconto -->
      <row>    
        <%- include('../cupons/cuponCall') %>
        <span>&nbsp</span>
      </row>

      <row>
        <!-- breadcrumb -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">   
           <%- include('../partials/breadcrumbCupom') %>
        </div>
      </row>

      <!-- hr -->
      <row>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%- include('../partials/hr') %>
        </div>
      </row>


      <row>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 "> 
          <table class="table">
            <thead>
              <tr>
                <th>loja</th>
                <th>descrição</th>
                <th>cupom</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Americanas</td>
                <td>Regras: Cupom válido para itens de Eletrodom, vendidos e entregues por Electrolux, com desconto de 15%. Validade até 31/10/17</td>
                <td>ELETRODOM15</td>
                <td class="btn_offer_review">
                  <a itemprop="url" id="href_ir_loja" href="http://ad.zanox.com/ppc/?43897188C9827588T" class="btn btn-comprar ga_click_ir_loja btnIrLoja" role="button" target="_blank">Comprar</a>
                </td>
              </tr>

              <tr>
                <td>Americanas</td>
                <td>Cupom de 10% de desconto, na Acom, para alguns produtos de telefonia, incluindo iPhone! Validade: 01/11</td>
                <td>ALO10</td>
                <td class="btn_offer_review">
                  <a itemprop="url" id="href_ir_loja" href="http://ad.zanox.com/ppc/?43895676C1064905343T" class="btn btn-comprar ga_click_ir_loja btnIrLoja" role="button" target="_blank">Comprar</a>
                </td>
              </tr>

              <tr>
                <td>Americanas</td>
                <td>Validade: até 31/10/2017 Regras: https://www.americanas.com.br/estaticapop/regras-do-site</td>
                <td>ELETRO10</td>
                <td class="btn_offer_review">
                  <a itemprop="url" id="href_ir_loja" href="http://ad.zanox.com/ppc/?43897294C1811347096T" class="btn btn-comprar ga_click_ir_loja btnIrLoja" role="button" target="_blank">Comprar</a>
                </td>
              </tr>

              <tr>
                <td>Americanas</td>
                <td>Validade: até 31/10/2017 às 12h Regras: https://www.americanas.com.br/estaticapop/regras-do-site</td>
                <td>SONY10</td>
                <td class="btn_offer_review">
                  <a itemprop="url" id="href_ir_loja" href="http://ad.zanox.com/ppc/?43895667C1209331573T" class="btn btn-comprar ga_click_ir_loja btnIrLoja" role="button" target="_blank">Comprar</a>
                </td>
              </tr>

              <tr>
                <td>Americanas</td>
                <td>Itens válidos: Válido apenas para primeira compra no site com o valor de até R$199, para itens vendidos e entregues pela americanas.com e com exceção dos departamentos de Beleza, Saúde e Perfumaria. Validade: Até 31/10 Link de regras: https://www.americanas.com.br/estaticapop/regras-do-site</td>
                <td>SORRIA20</td>
                <td class="btn_offer_review">
                  <a itemprop="url" id="href_ir_loja" href="http://ad.zanox.com/ppc/?43897296C849206192T" class="btn btn-comprar ga_click_ir_loja btnIrLoja" role="button" target="_blank">Comprar</a>
                </td>
              </tr>


              <tr>
                <td>Submarino</td>
                <td>Cupom de 10% em seleção de produtos Britânia e Philco válido até 12h00 do dia 31/10/2017 ou até os 500 primeiros pedidos. Apenas para produtos vendidos e entregues por Prime15. Apenas para produtos vendidos e entregues por Eletrolux. Link de regras: http://www.submarino.com.br/estaticapop/regras-do-site</td>
                <td>_ELETRO10</td>
                <td class="btn_offer_review">
                  <a itemprop="url" id="href_ir_loja" href="http://ad.zanox.com/ppc/?43897299C716831754T" class="btn btn-comprar ga_click_ir_loja btnIrLoja" role="button" target="_blank">Comprar</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </row>
      
      


      <!-- midia footer-->
      <%- include('../vitrines/midia_footer') %>

    </div>


    

    <footer class="footer">
      <div class="panel-footer"><%- include('../partials/footer') %></div>
    </footer>

  </body>


  
</html>

