 <style type="text/css">
    /*  Extra small devices Phones (<768px)*/

  @media (max-width:320px) {

    .title_avaliacoes{
/*        width: 30%;*/
    }

    .table_avalicoes{
      padding-left: -1px;
      padding-right:10px;
      overflow-x: hidden;
    
    }
  }

  @media (min-width:375px) {

    .title_avaliacoes{
/*        width: 30%;*/
    }

    .table_avalicoes{
      padding-left: 25px;
      padding-right:10px;
      padding-top: 20px;
      overflow-x: hidden;
    
    }
  }

</style>

<div class="row visible-xs visible-sm">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="table_avalicoes">
      <!-- total of reviews -->
      <table>
        <tbody>
          <tr>
            <!-- label avaliacoes -->
            <td class="title_avaliacoes">
              <h5><small>Avaliações: </small></h5>
            </td>
            <td width="5px;">&nbsp;</td>
            <td width="15px;" class="visible-xs"">&nbsp;</td>

            <!-- total bd boys happy -->
            <td>
              <a href="/<%= query%>/<%= offer.product.nameURL%>?page=1&filter=1" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<%- include('../../partials/tool_tip_bd_boy_happy') %>" class="bd_boy_happy_tooltip"  onclick="ga('send','event','reviews','click','bd_boy_happy');">
                <% if ((order == 2) || (order == 1)){ %>
                  <img id="img_bd_boy_happy" class="img-responsive bd_boy_happy">
                <% } else { %>
                  <img id="img_bd_boy_happy" class="img-responsive bd_boy_happy_off">
                <% } %>
              </a>
            </td>
            <td width="5px;"></td>
            <td>
              <a id="href_bd_boy_happy" href="/<%= query%>/<%= offer.product.nameURL%>?page=1&filter=1" class="a_couter" onclick="ga('send','event','reviews','click','bd_boy_happy');">
                <%= offer.countHappy %>
              </a>
            </td>
            
            <td width="10px">&nbsp;</td>

            <!-- total bd boys sad -->
            <td>
              <a id="href_bd_boy_sad" href="/<%= query%>/<%= offer.product.nameURL%>?page=1&filter=2" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<%- include('../../partials/tool_tip_bd_boy_sad') %>" class="bd_boy_sad_tooltip" onclick="ga('send','event','reviews','click','bd_boy_sad');">
                <% if ((order == 3) || (order == 1)) { %>
                  <img id="img_bd_boy_sad" class="img-responsive bd_boy_sad">
                <% } else { %>
                  <img id="img_bd_boy_sad" class="img-responsive bd_boy_sad_off">
                <% } %>
              </a>
            </td>
            <td width="5x;">&nbsp;</td>
            <td>
                <a href="/<%= query%>/<%= offer.product.nameURL%>?page=1&filter=2" class="a_couter" onclick="ga('send','event','reviews','click','bd_boy_sad');">
                <%= offer.countSad %>
                </a>
            </td>

            <td width="25px;" class="visible-xs"">&nbsp;</td>
            <td width="20px;" class="visible-sm"">&nbsp;</td>

            <!-- btn ver avaliacoes-->
            <td>
               <a id="btnCallToAction"  href="/<%= query%>/<%= offer.product.nameURL%>?page=1" class="btn btn-warning btn-xs" role="button" target="_self" onclick="ga('send','event','reviews','click','all_reviews');" style="padding: 5px 3px;color: black">
                  <% if ((order == 3) || (order == 2)) { %>
                      Ver Avaliações (<%= offer.totalReviews %>)
                  <% } else { %>
                      <text style="color: black">Ver Avaliações(<%= offer.totalReviews %>) </text>
                  <% } %>
                </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<hr class="visible-xs">
<div style="height: 30px" class="visible-sm">&nbsp;</div>