<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color: rgb(65, 65, 65)">
  
  	<div class="navbar-header">
    	<button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target=".navbar-collapse" style="margin-left: 15px;background-color: #f0ad4e;border-color: #d58512;color: black;">
      	<span class="icon-bar"></span>
      	<span class="icon-bar"></span>
     		<span class="icon-bar"></span>
    	</button> 
    	<a class="navbar-brand brand_img visible-xs container-fluid" href="/">
    	</a>  
  	</div>

  	<div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav">
        <!-- Menu categorias mobile -->
        <!-- ELETRODOMESTICOS -->
        <li style="line-height: 1px;" class="visible-xs">    
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" >
            Eletrodomésticos <span class="caret"></span>
          </a>
          <%- include('../categories/menu_eletrodomesticos') %>
	      </li>
        <!-- ELETROPORTATEIS -->
        <li style="line-height: 1px;" class="visible-xs">    
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" >
            Eletroportáteis <span class="caret"></span>
          </a>
          <%- include('../categories/menu_eletroportateis') %>
        </li>
        <!-- INFORMATICA -->
        <li style="line-height: 1px;" class="visible-xs">    
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" >
            Informática <span class="caret"></span>
          </a>
          <%- include('../categories/mobile/menu_informatica_mobile') %>
        </li>
        <!-- SMARTPHONES -->
        <li style="line-height: 1px;" class="visible-xs">    
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" >
            Smartphones <span class="caret"></span>
          </a>
          <%- include('../categories/mobile/menu_smartphones_mobile') %>
        </li>
        <!-- UTENSILIOS DOMESTICOS -->
        <li style="line-height: 1px;" class="visible-xs">    
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" >
            Utensílios Domésticos <span class="caret"></span>
          </a>
          <%- include('../categories/mobile/menu_utensilios_mobile') %>
        </li>
         <!-- End categorias mobile -->
        
        <!-- Menu categorias desktop -->
	      <li>
	       <div class="btn-group hidden-xs">
  	       <button id="btn" type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" style="margin-left: 5px;color: black">
  	         <span class="glyphicon glyphicon-align-justify"></span> 
  	         <text>Categorias</text> 
  	       </button>
	           <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
              <!-- ELETRODOMESTICOS -->
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Eletrodomésticos</a>
                 <%- include('../categories/menu_eletrodomesticos') %>
              </li>
              <!-- ELETROPORTATEIS -->
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Eletroportáteis</a>
                 <%- include('../categories/menu_eletroportateis') %>
              </li>
              <!-- INFORMATICA -->
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Informática</a>
                 <%- include('../categories/menu_informatica') %>
              </li>
              <!-- SMARTPHONES -->
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Smartphones</a>
                 <%- include('../categories/menu_smartphones') %>
              </li>
              <!-- UTENSILIOS -->
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Utensílios Domésticos</a>
                 <%- include('../categories/menu_utensilios') %>
              </li>
            </ul>
          </div>
	      </li>
        <!-- End categorias desktop -->

        <!-- Logo BD desktop -->
	      <li class="hidden-xs">
	        <a class="brand_bd brand_img" href="/">
	        </a>
          <!-- <a class="navbar-brand" href="/">Brand</a> -->
	      </li>

        <!-- Slogan -->
        <li class="visible-lg pull-right" >
          <a class="da_slogan " href="/" style=" padding: 8px 15px 0px 0px;">
          </a>
          <!-- <a class="navbar-brand" href="/">Brand</a> -->
        </li>
        <!-- End BD desktop -->
		  </ul>
	 </div>
  
  <!-- Search Offer mobile -->
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 search_offer">
	  <%- include('../offers/search_offers') %>
	</div>
  <!-- End Search Offer mobile -->
	
 

</nav>




 
