
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color: white">
  
  	<div class="navbar-header">
    	<button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target=".navbar-collapse" style="margin-left: 4px">
      	<span class="icon-bar"></span>
      	<span class="icon-bar"></span>
     		<span class="icon-bar"></span>
    	</button> 
    	<a class="navbar-brand brand_img visible-xs container-fluid" href="/home">
    	</a>  
  	</div>

  	<div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav">
	      <!-- <li class="navbar-left"><a href="#">Left 1</a></li> 
	      <li class="navbar-left"><a href="#">Left 2</a></li>  -->
	  <!--     <div class="visible-xs"> -->
        <!-- Menu categorias mobile -->
        <!-- ELETRODOMESTICOS -->
        <li style="line-height: 1px;" class="visible-xs">    
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" >
            Eletrodomésticos <span class="caret"></span>
          </a>
          <%- include('../categories/menu_eletrodomesticos') %>
	      </li>
        <!-- ELETROPORTATEIS -->
        <li style="line-height: 1px;" class="visible-xs">    
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" >
            Eletroportáteis <span class="caret"></span>
          </a>
          <%- include('../categories/menu_eletroportateis') %>
        </li>
         <!-- End categorias mobile -->
      <!--   </div> -->
        
        <!-- Menu categorias desktop -->
	      <li>
	       <div class="btn-group hidden-xs">
  	       <button id="btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="margin-left: 5px;">
  	         <span class="glyphicon glyphicon-align-justify"></span> 
  	         <text>Categorias</text> 
  	       </button>
	           <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
              <!-- <li><a href="#">Action</a></li> -->
     <!--          <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li> -->
              <!-- <li class="divider"></li> -->
              <!-- ELETRODOMESTICOS -->
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Eletrodomésticos</a>
                 <%- include('../categories/menu_eletrodomesticos') %>
              </li>
              <!-- ELETROPORTATEIS -->
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Eletroportáteis</a>
                 <%- include('../categories/menu_eletroportateis') %>
              </li>
            </ul>
          </div>
	      </li>
        <!-- End categorias desktop -->

        <!-- Logo BD desktop -->
	      <li class="hidden-xs">
	        <a class="brand_bd brand_img container-fluid" href="/home">
	        </a>
	      </li>
        <!-- End BD desktop -->
        
        <!-- Search Offer desktop -->
	      <li class="hidden-xs"><%- include('../offers/search_offers') %></li>
	      <!--   <li class="navbar-right"><a href="#">Right 1</a></li>
	      <li class="navbar-right"><a href="#">Right 2</a></li> -->
        <!-- End Search Offer desktop -->
		</ul>
	 </div>
  
  <!-- Search Offer mobile -->
	<div class="visible-xs">
	  <%- include('../offers/search_offers') %>
	</div>
  <!-- End Search Offer mobile -->
	
  <!-- Slogan -->   
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 div_slogan">
	    <p class="text-muted"><%= slogan %></p>
	</div>
  <!-- End Slogan -->

</nav>




 
