<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel="alternate" href="http://www.beforedeciding.com.br" hreflang="pt-br" />
    <%- include('../partials/head') %> 
    <meta name="description" content="Veja avaliações de produtos no Before Deciding, antes de decidir a sua compra." />
    <meta name="keywords" content="avaliações, avaliações de produtos, before deciding, comparador de avalições, reviews, reviews de produtos, comparador de reviews, avaliações de e-commerce" />
    <meta property="og:title" content="Before Deciding | Veja avaliações antes de comprar." />
    <meta property="og:description" content="Veja avaliações de produtos no Before Deciding, antes de decidir a sua compra." />
    <link rel="canonical" href="http://www.beforedeciding.com.br" />    
  </head>

  <body style="overflow-x: hidden;">

    <!-- Begin page content -->
    <div class="container-fluid">

      <%- include('../partials/nav_head') %> 
      
      <row>
        <!-- categorie title -->
        <div class="col-xs-5 col-sm-7 col-md-7 col-lg-7">   
          <%- include('../categories/categories_title') %> 
        </div>
         <!-- label order by -->
        <div class="col-xs-* col-sm-2 col-md-2 col-lg-2 div_label_order"> 
          <label class="hidden-xs label_order">ordenar por:</label>
        </div>         
        <!-- reviews order -->
        <div class="col-xs-7 col-sm-3 col-md-3 col-lg-3">
           <%- include('../offers/offers_order_reviews') %> 
        </div>
      </row>

      <!-- hr -->
      <row>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%- include('../partials/hr') %>
        </div>
      </row>
      
      
      <!-- list offers and box ver avalicoes -->   
      <% for(var i=0; i<offers.docs.length; i++) { %>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> 
          <!-- list offers + box avaliacoes > 768px (NEED REFACTORY / HMTL DUPLICATED - box_avaliacoes_mobile) */  -->  
          <%- include('../offers/list_offers',{offer:offers.docs[i]}); %>
          <!-- Extra small devices Phones (<768px)* (NEED REFACTORY / HMTL DUPLICATED - box_avaliacoes_mobile)  -->
          <%- include('../offers/mobile/box_avaliacoes_mobile',{offer:offers.docs[i]}); %>
        </div>
      <% } %>
      
      <%- include('./pagination_home') %>

    
    </div>

    <footer class="footer">
      <div class="panel-footer"><%- include('../partials/footer') %></div>
    </footer>

  </body>
  
</html>

