<!--pagination -->
<row style="text-align: center">

<!--   <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4 ">
  </div> -->

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">

    <!-- previous -->

    <ul id="pagination_previous_offers" class="pagination">
      <form id="formPaginationOffer_previous" action="/home" method="post">
        <input type="hidden" name="page" value="<%= pagination.previous %>"/>
        <input type="hidden" name="query" value="<%= query %>"/>
      </form>
      <% if (pagination.previous != 0) { %>
        <li id="li_active_previous" >
          <a id="a_previous" href="javascript:;" onclick="document.getElementById('formPaginationOffer_previous').submit();" aria-label="Previous">
             <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      <% } %>
     
    </ul>

    <!-- pagination pages number -->

    <% for(var i=pagination.from; i <= pagination.to; i++) { %>
      
      <ul id="pagination_numbers_offers" class="pagination">

        <form id="formPaginationOffer_<%= i %>" action="/home" method="post">
          <input type="hidden" name="page" value="<%= i %>"/>
          <input type="hidden" name="query" value="<%= query %>"/>
          <input type="hidden" name="resultOrder" value="<%= order %>"/>
        </form>
        
        <% if (i == pagination.page) { %>
          <li class="active">
            <a id='a_pagination_<%= i %>' class='pagination_active' href="javascript:;" onclick="document.getElementById('formPaginationOffer_<%= i %>').submit();"><span aria-hidden="false"><%= i %></span></a>
          </li>
        <% } else { %>
          <li>
            <a id='a_pagination_<%= i %>' class="pagination_disabled" href="javascript:;" onclick="document.getElementById('formPaginationOffer_<%= i %>').submit();"><span aria-hidden="true"><%= i %></span></a>
          </li>
        <% } %>

      </ul>

    <% } %>

      <!-- next -->

      <ul id="pagination_next_offers" class="pagination">
        <form id="formPaginationOffer_next" action="/home" method="post">
          <input type="hidden" name="page" value="<%= pagination.next %>"/>
          <input type="hidden" name="query" value="<%= query %>"/>
        </form>
        <% if (pagination.next != 0) { %>
          <li id="li_active_next">
            <a id="a_next" href="javascript:;" onclick="document.getElementById('formPaginationOffer_next').submit();" aria-label="Next">
               <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        <% } %>
       
      </ul>
  </div>

</row>