  <!-- box see reviews -->
  <div itemprop="review" itemscope itemtype="http://schema.org/Review" class="pull-left"">
    <table>
      <tbody>
       <!--  <tr>
          <td>
            <a href="/<%= offer.product.manufacturer%>?ts=4"><%= offer.product.manufacturer %></a>
          </td>
        </tr>
        <tr>
           <td width="0px;">&nbsp;</td>
        </tr> -->
        <tr>

          <!-- label avaliacoes -->
          <td>
            <a itemprop="url" id="btnVerReviews" href="/<%= query%>/<%= offer.product.nameURL%>?page=1" class="ga_click_ver_reviews"  target="_self">
             <span class="badge_ver_avaliacoes"> 
                <% if ((order == 3) || (order == 2)) { %>
                  Ver Avaliações 
                <% } else { %>
                  <text id="txt_ver_avaliacoes"> Ver
                    <span itemprop=""><%= offer.product.totalReviews %></span> Avaliações                  
                  </text>
                <% } %>
              </span>
            </a>
          </td>

          <td width="25px;">&nbsp;</td>

          
          <!-- total bd boys happy -->
          <td>
            <a itemprop="url" href="/<%= query%>/<%= offer.product.nameURL%>?page=1&order=1" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<%- include('../partials/tool_tip_bd_boy_happy') %>" class="bd_boy_happy_tooltip ga_click_ver_reviews">
              <% if ((order == 2) || (order == 1)){ %>
                <img itemprop="image" id="img_bd_boy_happy" class="img-responsive bd_boy_happy ga_click_ver_reviews">
              <% } else { %>
                <img itemprop="image" id="img_bd_boy_happy" class="img-responsive bd_boy_happy_off ga_click_ver_reviews">
              <% } %>
            </a>
          </td>
          <td>
            <a id="href_bd_boy_happy" href="/<%= query%>/<%= offer.product.nameURL%>?page=1&order=1" class="a_couter ga_click_ver_reviews">
              <span itemprop="bestRating"><%= offer.product.countHappy %></span>
            </a>
          </td>

          <td width="15px;">&nbsp;</td>

          <!-- total bd boys sad -->
          <td>
            <a itemprop="url" id="href_bd_boy_sad" href="/<%= query%>/<%= offer.product.nameURL%>?page=1&order=2" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<%- include('../partials/tool_tip_bd_boy_sad') %>" class="bd_boy_sad_tooltip ga_click_ver_reviews">
              <% if ((order == 3) || (order == 1)) { %>
                <img itemprop="image" id="img_bd_boy_sad" class="img-responsive bd_boy_sad ga_click_ver_reviews">
              <% } else { %>
                <img itemprop="image" id="img_bd_boy_sad" class="img-responsive bd_boy_sad_off ga_click_ver_reviews">
              <% } %>
            </a>
          </td>
          <td>
            <a itemprop="url" href="/<%= query%>/<%= offer.product.nameURL%>?page=1&order=2" class="a_couter ga_click_ver_reviews">
              <span itemprop="worstRating"><%= offer.product.countSad %></span>
            </a>
          </td>
        </tr>    
      </tbody>
    </table>
  </div>