 
<div class="panel-body">
  <table id="tbl_box_reviews">
    <tbody>
      <tr>
        <td class="logo_merchant">
          <% if (offer.advertiser == 'Walmart BR') { %>
            <a href="<%= offer.url %>" target="_blank" onclick="ga('send','event','lojas','click','img_ir_loja');">
              <img id="img_retailer"  class="img-responsive walmart">
            </a>      
          <% } else if (offer.advertiser == 'Ricardo Eletro BR') { %>
            <a href="<%= offer.url %>" target="_blank" onclick="ga('send','event','lojas','click','img_ir_loja');">
              <img id="img_retailer" class="img-responsive ricardo_eletro">
            </a>   
          <% } else if (offer.advertiser == 'Pontofrio BR') { %>
            <a href="<%= offer.url %>" target="_blank" onclick="ga('send','event','lojas','click','img_ir_loja');">
              <img id="img_retailer" class="img-responsive ponto_frio">
            </a>
          <% } else if (offer.advertiser == 'Extra BR') { %>
            <a href="<%= offer.url %>" target="_blank" onclick="ga('send','event','lojas','click','img_ir_loja');">
              <img id="img_retailer" class="img-responsive extra">
            </a>
          <% } else if (offer.advertiser == 'Casas Bahia BR') { %>
            <a href="<%= offer.url %>" target="_blank" onclick="ga('send','event','lojas','click','img_ir_loja');">
              <img id="img_retailer" class="img-responsive casas_bahia">
            </a>
          <% } else if (offer.advertiser == 'Brastemp BR') { %>
            <a href="<%= offer.url %>" target="_blank" onclick="ga('send','event','lojas','click','img_ir_loja');">
              <img id="img_retailer" class="img-responsive brastemp">
            </a>
          <% } else if (offer.advertiser == 'Consul BR') { %>
            <a href="<%= offer.url %>" target="_blank" onclick="ga('send','event','lojas','click','img_ir_loja');">
              <img id="img_retailer" class="img-responsive ponto_frio">
            </a>
          <% } else if (offer.advertiser == 'Pontofrio BR') { %>
            <a href="<%= offer.url %>" target="_blank" onclick="ga('send','event','lojas','click','img_ir_loja');">
              <img id="img_retailer" class="img-responsive consul">
            </a> 
          <% } else if (offer.advertiser == 'Girafa BR') { %>
            <a href="<%= offer.url %>" target="_blank" onclick="ga('send','event','lojas','click','img_ir_loja');">
              <img id="img_retailer" class="img-responsive girafa">
            </a> 
          <% } else if (offer.advertiser == 'Fastshop BR') { %>
            <a href="<%= offer.url %>" target="_blank" onclick="ga('send','event','lojas','click','img_ir_loja');">
              <img id="img_retailer" class="img-responsive fast_shop">
            </a>            
          <% } else { %>
            <a href="<%= offer.url %>" target="_blank" onclick="ga('send','event','lojas','click','img_ir_loja');">
              <img id="img_retailer" class="img-responsive lojas_colombo">
            </a>          
          <% } %>
        </td>
        <td class="price_offer">
            <a id="href_offer_price" href="<%= offer.url %>" target="_blank" onclick="ga('send','event','lojas','click','price_ir_loja');" >
              <%= offer.price_display %>
            </a>       
        </td>
        <td class="btn_offer">
          <a id="href_ir_loja" href="<%= offer.url %>" class="btn btn-warning" role="button" target="_blank" onclick="ga('send','event','lojas','click','btn_ir_para_loja');">Ir à loja</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>   

