<% if (offer !== undefined) { %>
<table id="tbl_box_reviews">
  <tbody>
    <tr>
      <td class="logo_merchant_review">
        <% if (offer.advertiser == 'Walmart BR')  { %>
          <a itemprop="url"  href="<%= offer.url %>" target="_blank" class="ga_click_ir_loja">
            <img itemprop="image" id="img_retailer"  class="img-responsive walmart">
          </a>      
        <% } else if (offer.advertiser == 'Ricardo Eletro BR') { %>
          <a itemprop="url"  href="<%= offer.url %>" target="_blank" class="ga_click_ir_loja">
            <img itemprop="image" id="img_retailer" class="img-responsive ricardo_eletro">
          </a>   
        <% } else if (offer.advertiser == 'Pontofrio BR') { %>
          <a itemprop="url"  href="<%= offer.url %>" target="_blank" class="ga_click_ir_loja">
            <img itemprop="image" id="img_retailer" class="img-responsive ponto_frio">
          </a>
        <% } else if (offer.advertiser == 'Extra BR') { %>
          <a itemprop="url" href="<%= offer.url %>" target="_blank" class="ga_click_ir_loja">
            <img itemprop="image" id="img_retailer" class="img-responsive extra">
          </a>
        <% } else if (offer.advertiser == 'Casas Bahia BR') { %>
          <a itemprop="url"  href="<%= offer.url %>" target="_blank" class="ga_click_ir_loja">
            <img itemprop="image" id="img_retailer" class="img-responsive casas_bahia">
          </a>
        <% } else if (offer.advertiser == 'Brastemp BR') { %>
          <a itemprop="url" href="<%= offer.url %>" target="_blank" class="ga_click_ir_loja">
            <img itemprop="image" id="img_retailer" class="img-responsive brastemp">
          </a>
        <% } else if (offer.advertiser == 'Consul BR') { %>
          <a itemprop="url"  href="<%= offer.url %>" target="_blank" class="ga_click_ir_loja">
            <img itemprop="image" id="img_retailer" class="img-responsive consul">
          </a>
        <% } else if (offer.advertiser == 'Pontofrio BR') { %>
          <a itemprop="url" href="<%= offer.url %>" target="_blank" class="ga_click_ir_loja">
            <img itemprop="image" id="img_retailer" class="img-responsive ponto_frio">
          </a> 
        <% } else if (offer.advertiser == 'Girafa BR') { %>
          <a itemprop="url"  href="<%= offer.url %>" target="_blank" class="ga_click_ir_loja">
            <img itemprop="image" id="img_retailer" class="img-responsive girafa">
          </a> 
        <% } else if (offer.advertiser == 'Fastshop BR') { %>
          <a itemprop="url"  href="<%= offer.url %>" target="_blank" class="ga_click_ir_loja">
            <img itemprop="image" id="img_retailer" class="img-responsive fast_shop">
          </a>            
        <% } else { %>
          <a itemprop="url"  href="<%= offer.url %>" target="_blank" class="ga_click_ir_loja">
            <img itemprop="image" id="img_retailer" class="img-responsive lojas_colombo">
          </a>          
        <% } %>
      </td>
      <td class="price_offer_review">
        <span  itemprop="offers" itemscope itemtype="http://schema.org/Offer" >
          <a itemprop="url" id="href_offer_price" href="<%= offer.url %>" target="_blank" class="ga_click_ir_loja">
            <% if ((order == 1) || (order == 2) || (order == 3)) { %>
              <h5 style="color: green;font-size: 16px;">
                <%= offer.price_display %>
              </h5>
            <% } else { %>
              <h5 style="color: green;font-size: 16px;font-weight: bold;">
                <%= offer.price_display %>
              </h5>
            <% } %>
            <span class="google_info">
              <span itemprop="price"><%= offer.price %></span>
              <meta itemprop="priceCurrency" content="BRL" />
            </span>
          </a>
        </span>       
      </td>
      <td class="btn_offer_review">
        <a itemprop="url" id="href_ir_loja" href="<%= offer.url %>" class="btn btn-warning ga_click_ir_loja" role="button" target="_blank" style="color: black">Ir à loja</a>
      </td>
    </tr>
  </tbody>
</table>
<br>
<% } %>