<% if (offer !== undefined) { %> 
<table id="tbl_box_reviews">
    <tbody>
      <tr>
      <h6 class="text-muted badge badge_ver_avaliacoes"><smal>menor preço</smal></h6>
      </tr>
      <tr>
        <!-- menor preco -->
        <td itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="price_offer">
          <a itemprop="url" id="href_offer_price" href="<%= offer.lowerOfferEan.url %>" target="_blank" class="ga_click_ir_loja">
            <% if ((order == 1) || (order == 2) || (order == 3)) { %>
              <h5 class="txt_price">
                <%= offer.lowerOfferEan.price_display %>
              </h5>
            <% } else { %>
              <h5 class="txt_price_bold">
                <%= offer.lowerOfferEan.price_display %>
              </h5>
            <% } %>
            <span class="google_info">
              <span itemprop="price"><%= offer.price %></span>
              <meta itemprop="priceCurrency" content="BRL" />
            </span>
          </a>       
        </td>
        <!-- advertiser -->
        <td class="logo_merchant">
          <% if (offer.lowerOfferEan.advertiser == 'Walmart BR')  { %>
            <a href="<%= offer.lowerOfferEan.url %>" target="_blank" class="ga_click_ir_loja">
              <img id="img_retailer"  class="img-responsive walmart">
            </a>      
          <% } else if (offer.lowerOfferEan.advertiser == 'Ricardo Eletro BR') { %>
            <a href="<%= offer.lowerOfferEan.url %>" target="_blank" class="ga_click_ir_loja">
              <img id="img_retailer" class="img-responsive ricardo_eletro">
            </a>   
          <% } else if (offer.lowerOfferEan.advertiser == 'Pontofrio BR') { %>
            <a href="<%= offer.lowerOfferEan.url %>" target="_blank" class="ga_click_ir_loja">
              <img id="img_retailer" class="img-responsive ponto_frio">
            </a>
          <% } else if (offer.lowerOfferEan.advertiser == 'Extra BR') { %>
            <a href="<%= offer.lowerOfferEan.url %>" target="_blank" class="ga_click_ir_loja">
              <img id="img_retailer" class="img-responsive extra">
            </a>
          <% } else if (offer.lowerOfferEan.advertiser == 'Casas Bahia BR') { %>
            <a href="<%= offer.lowerOfferEan.url %>" target="_blank" class="ga_click_ir_loja">
              <img id="img_retailer" class="img-responsive casas_bahia">
            </a>
          <% } else if (offer.lowerOfferEan.advertiser == 'Brastemp BR') { %>
            <a href="<%= offer.lowerOfferEan.url %>" target="_blank" class="ga_click_ir_loja">
              <img id="img_retailer" class="img-responsive brastemp">
            </a>
          <% } else if (offer.lowerOfferEan.advertiser == 'Consul BR') { %>
            <a href="<%= offer.lowerOfferEan.url %>" target="_blank" class="ga_click_ir_loja">
              <img id="img_retailer" class="img-responsive consul">
            </a>
          <% } else if (offer.lowerOfferEan.advertiser == 'Pontofrio BR') { %>
            <a href="<%= offer.lowerOfferEan.url %>" target="_blank" class="ga_click_ir_loja">
              <img id="img_retailer" class="img-responsive ponto_frio">
            </a> 
          <% } else if (offer.lowerOfferEan.advertiser == 'Girafa BR') { %>
            <a href="<%= offer.lowerOfferEan.url %>" target="_blank" class="ga_click_ir_loja">
              <img id="img_retailer" class="img-responsive girafa">
            </a> 
          <% } else if (offer.lowerOfferEan.advertiser == 'Fastshop BR') { %>
            <a href="<%= offer.lowerOfferEan.url %>" target="_blank" class="ga_click_ir_loja">
              <img id="img_retailer" class="img-responsive fast_shop">
            </a>            
          <% } else { %>
            <a href="<%= offer.lowerOfferEan.url %>" target="_blank" class="ga_click_ir_loja">
              <img id="img_retailer" class="img-responsive lojas_colombo">
            </a>          
          <% } %>
        </td>
        <!-- call to action >> ir para loja -->
        <td class="btn_offer">
          <a itemprop="url" id="href_ir_loja" href="<%= offer.lowerOfferEan.url %>" class="btn btn-warning ga_click_ir_loja btnIrLoja" role="button" target="_blank">Ver Oferta</a>
        </td>
      </tr>
    </tbody>
  </table>
<% } %>