 <style type="text/css">
    /*  Extra small devices Phones (<768px)*/


  @media (max-width:768px) {

    .title_avaliacoes{
/*        width: 30%;*/
    }

    .table_avalicoes{
      padding-left: 10px;
      padding-right:10px;
      overflow-x: hidden;
    
    }
  }

</style>

 <div class="row visible-xs visible-sm">
   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="table_avalicoes">
   <!-- total of reviews -->
     <table>
      <tbody>
        <tr>
          <td class="title_avaliacoes">
           <h4><small>Avaliações: </small></h4>
          </td>
           <td width="10px;"></td>
           <td width="15px;" class="visible-xs""></td>
          <!-- total bd boys happy -->
         <td>
            <a href='/reviews/<%= offer.ean %>/offer/<%= offer._id %>/page/1' data-toggle="tooltip" data-placement="bottom" data-html="true" title="<%- include('../partials/tool_tip_bd_boy_happy') %>" class="bd_boy_happy_tooltip"  onclick="ga('send','event','reviews','click','bd_boy_happy');">
              <% if ((order == 2) || (order == 1)){ %>
                <img id="img_bd_boy_happy" class="img-responsive bd_boy_happy">
              <% } else { %>
                <img id="img_bd_boy_happy" class="img-responsive bd_boy_happy_off">
              <% } %>
            </a>
          </td>
          
          <td>
            <a id="href_bd_boy_happy" href='/reviews/<%= offer.ean %>/offer/<%= offer._id %>/page/1/filter/1' class="a_couter" onclick="ga('send','event','reviews','click','bd_boy_happy');">
              <%= offer.countHappy %>
            </a>
          </td>
           <td width="10px"></td>

          <!-- total bd boys sad -->
          <td>
            <a id="href_bd_boy_sad" href='/reviews/<%= offer.ean %>/offer/<%= offer._id %>/page/1/filter/2' data-toggle="tooltip" data-placement="bottom" data-html="true" title="<%- include('../partials/tool_tip_bd_boy_sad') %>" class="bd_boy_sad_tooltip" onclick="ga('send','event','reviews','click','bd_boy_sad');">
              <% if ((order == 3) || (order == 1)) { %>
                <img id="img_bd_boy_sad" class="img-responsive bd_boy_sad">
              <% } else { %>
                <img id="img_bd_boy_sad" class="img-responsive bd_boy_sad_off">
              <% } %>
            </a>
          </td>
          <td width="10px;"></td>
         <td>
              <a href='/reviews/<%= offer.ean %>/offer/<%= offer._id %>/page/1/filter/2' class="a_couter" onclick="ga('send','event','reviews','click','bd_boy_sad');">
              <%= offer.countSad %>
              </a>
          </td>
          <td width="10px;"></td>
          <td width="20px;" class="visible-xs""></td>
          <td>
            <form action="/reviews/<%= offer.ean %>/offer/<%= offer._id %>/page/1" method="get" class="navbar-form navbar-center" role="search">
                <button id="btnCallToAction" type="submit" class="btn btn-warning btn-xs" type="button" onclick="ga('send','event','lp','click','call_to_action');" style="padding: 5px 5px; width: 120px">
                     Ver Avaliações (<%= offer.totalReviews %>)
                </button>
              </form>
          </td>
        </tr>
      
      </tbody>
    </table>
    </div>
</div>
</div>
