 <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
       <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding-right: 0px;
padding-left: 0px;">
            <%# zanox offer to use two kinds of image size %>
            <% if (offer.image_medium) { %>
              <a href='/reviews/<%= offer.ean %>/offer/<%= offer._id %>/page/1' onclick="ga('send','event','reviews','click','foto_offer');">
                <img src="<%= offer.image_medium %>"  class="img-responsive center-block">
              </a>
            <% } else { %> 
              <a href='/reviews/<%= offer.ean %>/offer/<%= offer._id %>/page/1' onclick="ga('send','event','reviews','click','foto_offer');">
                <img src="<%= offer.image_large %>"  class="img-responsive center-block">
              </a>
            <% } %>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <strong><a href="/reviews/<%= offer.ean %>/offer/<%= offer._id %>/page/1" onclick="ga('send','event','reviews','click','name_offer');"><%= offer.name %></a></strong>
        </div>
        <!-- It will set the height of the whole row based on the height of the tallest member of in thar row -->
        <div class="clearfix visible-md"></div>
    </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
<p>
</div>