 <style type="text/css">

    .ga_click_ver_reviews{

    }

    .hr_offer{
      border-color: rgb(229, 210, 228, 0.49);
      margin-left: 2px;
      margin-right: 2px;
    }

</style>  

<!-- img product -->
<div class="col-xs-5 col-sm-4 col-md-5 col-lg-4">
    <a href="/<%= query%>/<%= offer.product.nameURL%>?page=1">
      <img src="<%= offer.product.image %>"  class="img-responsive ga_click_ver_reviews" >
    </a>
</div>

<!-- end img product -->

<!-- M O B I L E -->
<div class="col-xs-7 col-sm-8 col-md-7 col-lg-8 visible-xs visible-sm">
  <!-- name offer -->
    <strong class="strong_name_offer ga_click_ver_reviews" >
      <a href="/<%= query%>/<%= offer.product.nameURL%>?page=1"><%= offer.product.name %></a>
    </strong> 
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 visible-xs visible-sm">
    <div style="height: 10px"></div>
    <%- include('../product/box_product_reviews',{offer:offer}); %>      
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 visible-xs visible-sm">
    <div style="height: 10px"></div> 
    <%- include('./box_prices_offer',{offer:offer}); %>
     <div style="height: 0px"></div> 
         <hr class="row" style="border-color: rgb(229, 210, 228, 0.49);
margin-left: 1px;
margin-right: 1px;">    
</div>



<!-- D E S K T O P  -->
<div class="col-xs-7 col-sm-8 col-md-7 col-lg-8 hidden-xs hidden-sm ">    
  <!-- name offer -->
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">  
    <strong class="ga_click_ver_reviews" >
      <a href="/<%= query%>/<%= offer.product.nameURL%>?page=1"><%= offer.product.name %></a>
    </strong> 
    
    <div style="height: 15px"></div>
    
    <!-- product reviews -->
    <%- include('../product/box_product_reviews',{offer:offer}); %>
    
    <div style="height: 15px"></div>
    
    <hr class="row" style="border-color: rgb(229, 210, 228, 0.49);
margin-left: 1px;
margin-right: 1px;">

    <div style="height: 20px"></div>
    
    <!--   <hr class="row"> -->
    <%- include('./box_prices_offer',{offer:offer}); %> 
  </div>
</div>


<div style="height: 200px" class="visible-md">&nbsp;</div>

<div style="height: 250px" class="visible-lg">&nbsp;</div>


    
