 <style type="text/css">

  /*Small devices Tablets (≥768px)*/
  @media (min-width:768px) {
    .table_avalicoes{
/*      padding-left: 105px;*/
/*      padding-right:10px;
      overflow-x: hidden*/
      display: inline
    }

  }

</style>  

<!-- img product -->
<div class="col-xs-5 col-sm-4 col-md-5 col-lg-4">
    <a id="a_img_ver_reviews" href="/<%= query%>/<%= offer.product.nameURL%>?page=1">
      <img src="<%= offer.product.image %>"  class="img-responsive" >
    </a>
</div>
<!-- end img product -->

<!-- name, price and block reviews -->
<div class="col-xs-7 col-sm-8 col-md-7 col-lg-8" style="padding-left: 0px!important;
padding-right: 8px!important">
    
    <!-- name offer -->
    <strong class="strong_name_offer" >
      <a href="/<%= query%>/<%= offer.product.nameURL%>?page=1" class="ga_click_ver_reviews"><%= offer.product.name %></a>
    </strong>
    <br>

  <!-- price offer -->
  <% if (offer.minorPriceEAN) { %>
    <% if ((order == 1) || (order == 2) || (order == 3)) { %>
      <h5 style="color: green"><small>a partir de: </small>
        <%= offer.minorPriceEAN %>
      </h5>
    <% } else { %>
      <h5 style="color: green;font-size: 16px;font-weight: bold;"><small>a partir de: </small>
        <%= offer.minorPriceEAN %>
      </h5>
    <% } %>
   <% } %>

  <hr class="row hidden-xs hidden-sm" style="border-color: rgb(229, 210, 228, 0.49);
margin-left: 1px;
margin-right: 1px;">

  <!-- box see reviews -->
  <div class="row hidden-xs hidden-sm teste">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="table_avalicoes">
         <table>
          <tbody>
            <tr>
              <!-- label avaliacoes -->
              <td>
                <h4 class="hidden-md"><small>Avaliações:</small></h4>
                <h5 class="visible-md"><small>Avaliações:</small></h5>
              </td>
              <td width="15px;">&nbsp;</td>

              <!-- total bd boys happy -->
              <td>
                <a href="/<%= query%>/<%= offer.product.nameURL%>?page=1&filter=1" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<%- include('../partials/tool_tip_bd_boy_happy') %>" class="bd_boy_happy_tooltip ga_click_ver_reviews">
                  <% if ((order == 2) || (order == 1)){ %>
                    <img id="img_bd_boy_happy" class="img-responsive bd_boy_happy">
                  <% } else { %>
                    <img id="img_bd_boy_happy" class="img-responsive bd_boy_happy_off">
                  <% } %>
                </a>
              </td>
              <td>
                <a id="href_bd_boy_happy" href="/<%= query%>/<%= offer.product.nameURL%>?page=1&filter=1" class="a_couter ga_click_ver_reviews">
                  <%= offer.product.countHappy %>
                </a>
              </td>

              <td width="10px;">&nbsp;</td>

              <!-- total bd boys sad -->
              <td>
                <a id="href_bd_boy_sad" href="/<%= query%>/<%= offer.product.nameURL%>?page=1&filter=2" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<%- include('../partials/tool_tip_bd_boy_sad') %>" class="bd_boy_sad_tooltip ga_click_ver_reviews">
                  <% if ((order == 3) || (order == 1)) { %>
                    <img id="img_bd_boy_sad" class="img-responsive bd_boy_sad">
                  <% } else { %>
                    <img id="img_bd_boy_sad" class="img-responsive bd_boy_sad_off">
                  <% } %>
                </a>
              </td>
              <td>
                <a href="/<%= query%>/<%= offer.product.nameURL%>?page=1&filter=2" class="a_couter ga_click_ver_reviews">
                <%= offer.product.countSad %>
                </a>
              </td>

              <td width="10px;">&nbsp;</td>

              <!-- btn ver avaliacoes-->
              <td>
                <a id="btnVerReviews" href="/<%= query%>/<%= offer.product.nameURL%>?page=1" class="btn btn-warning btn-xs ga_click_ver_reviews" role="button" target="_self" style="padding: 5px 3px; width: 120px">
                  <% if ((order == 3) || (order == 2)) { %>
                      Ver Avaliações (<%= offer.product.totalReviews %>)
                  <% } else { %>
                      <text style="color: black" id="txt_ver_avaliacoes"> Ver Avaliações <span class="badge" style="background-color: rgb(241, 250, 232) ;
color: rgb(0, 0, 0);"><%= offer.product.totalReviews %></span></text>
                  <% } %>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
<!-- end name, price and block reviews -->

<div style="height: 200px" class="visible-md">&nbsp;</div>

<div style="height: 250px" class="visible-lg">&nbsp;</div>


    
