 <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
       <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <%# zanox offer two kinds of image size %>
            <% if (offer.image_medium) { %>
              <a href='/reviews/<%= offer.ean %>/offer/<%= offer._id %>/page/1'>
                <img src="<%= offer.image_medium %>"  class="img-responsive center-block">
              </a>
            <% } else { %> 
              <a href='/reviews/<%= offer.ean %>/offer/<%= offer._id %>/page/1'>
                <img src="<%= offer.image_large %>"  class="img-responsive center-block">
              </a>
            <% } %>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <strong><a href="/reviews/<%= offer.ean %>/offer/<%= offer._id %>/page/1"><%= offer.name %></a></strong>
            <!-- total of reviews -->
            <h4>
              <a href="/reviews/<%= offer.ean %>/offer/<%= offer._id %>/page/1">
                <% if (offer.totalReviews == 1) { %>
                  <%= offer.totalReviews %> avaliação 
                <% } else { %>
                  <%= offer.totalReviews %> avaliações 
                <% } %>
              </a>
            </h4>
    
            <br>

            <row>
               <table>
                <tbody>
                  <tr>
                    <!-- total bd boys happy -->
                    <td>
                      <a href='/reviews/<%= offer.ean %>/offer/<%= offer._id %>/page/1' data-toggle="tooltip" data-placement="bottom" data-html="true" title="<%- include('../partials/tool_tip_bd_boy_happy') %>" class="bd_boy_happy_tooltip">
                        <img class="bd_boy_happy img-responsive">
                      </a>
                    </td>
                    <td width="5px;"></td>
                    <td>
                      <a id="href_bd_boy_happy" href='/reviews/<%= offer.ean %>/offer/<%= offer._id %>/page/1' class="a_couter">
                        <%= offer.countHappy %>
                      </a>
                    </td>
                     <td width="20px"></td>
                    <!-- total bd boys sad -->
                    <td>
                      <a id="href_bd_boy_sad" href='/reviews/<%= offer.ean %>/offer/<%= offer._id %>/page/1' data-toggle="tooltip" data-placement="bottom" data-html="true" title="<%- include('../partials/tool_tip_bd_boy_sad') %>" class="bd_boy_sad_tooltip">
                        <img class="bd_boy_sad img-responsive">
                      </a>
                    </td>
                    <td width="5px;"></td>
                    <td>
                        <a href='/reviews/<%= offer.ean %>/offer/<%= offer._id %>/page/1' class="a_couter">
                        <%= offer.countSad %>
                        </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </row>

            <br>
            <p>
        </div>
        <!-- It will set the height of the whole row based on the height of the tallest member of in thar row -->
        <div class="clearfix visible-md"></div>
    </div>


