 <style type="text/css">

  /*Small devices Tablets (≥768px)*/
  @media (min-width:768px) {
    .table_avalicoes{
/*      padding-left: 105px;*/
/*      padding-right:10px;
      overflow-x: hidden*/
      display: inline
    }
  }

</style>  

<!-- img product -->
<div class="col-xs-5 col-sm-4 col-md-5 col-lg-4">
    <%# zanox offer to use two kinds of image size %>
    <% if (offer.image_medium) { %>
      <a href='/avaliacoes/<%= offer.ean %>/offer/<%= offer._id %>/page/1' onclick="ga('send','event','reviews','click','foto_offer');">
        <img src="<%= offer.image_medium %>"  class="img-responsive" >
      </a>
    <% } else { %> 
      <a href='/avaliacoes/<%= offer.ean %>/offer/<%= offer._id %>/page/1' onclick="ga('send','event','reviews','click','foto_offer');">
        <img src="<%= offer.image_large %>"  class="img-responsive ">
      </a>
    <% } %>
</div>
<!-- end img product -->

<!-- name, price and block reviews -->
<div class="col-xs-7 col-sm-8 col-md-7 col-lg-8" style="padding-left: 0px!important;
padding-right: 8px!important">
    
    <!-- name offer -->
    <strong>
      <form id="formNameReviews" action="/avaliacoes/<%= offer.product.nameURL%>?page=1" method="post">
          <input type="hidden" name="ean" value="<%= offer.ean %>"/>
          <input type="hidden" name="offer" value="<%= offer._id %>"/>
      </form>
      <a href="javascript:;" onclick="ga('send','event','reviews','click','name_offer');document.getElementById('formNameReviews').submit();"><%= offer.name %></a>
    </strong>
    <br>

  <!-- price offer -->
  <% if (offer.minorPriceEAN) { %>
    <% if ((order == 1) || (order == 2) || (order == 3)) { %>
      <h5 style="color: green"><small>a partir de: </small>
        <%= offer.minorPriceEAN %>
      </h5>
    <% } else { %>
      <h5 style="color: green;font-size: 16px;font-weight: bold;"><small>a partir de: </small>
        <%= offer.minorPriceEAN %>
      </h5>
    <% } %>
   <% } %>

  <hr class="row hidden-xs hidden-sm" style="border-color: rgb(229, 210, 228, 0.49);
margin-left: 1px;
margin-right: 1px;">

  <!-- box see reviews -->
  <div class="row hidden-xs hidden-sm">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="table_avalicoes">
         <table>
          <tbody>
            <tr>
              <!-- label avaliacoes -->
              <td>
                <h4 class="hidden-md"><small>Avaliações:</small></h4>
                <h5 class="visible-md"><small>Avaliações:</small></h5>
              </td>
              <td width="15px;">&nbsp;</td>

              <!-- total bd boys happy -->
              <td>
                <form id="formBdBoyHappyReviews" action="/avaliacoes/<%= offer.product.nameURL%>?filter=1&page=1" method="post">
                    <input type="hidden" name="ean" value="<%= offer.ean %>"/>
                    <input type="hidden" name="offer" value="<%= offer._id %>"/>
                    <input type="hidden" name="page" value="1"/>
                </form>
                <a href="javascript:;" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<%- include('../partials/tool_tip_bd_boy_happy') %>" class="bd_boy_happy_tooltip"  onclick="ga('send','event','reviews','click','bd_boy_happy');document.getElementById('formBdBoyHappyReviews').submit();">
                  <% if ((order == 2) || (order == 1)){ %>
                    <img id="img_bd_boy_happy" class="img-responsive bd_boy_happy">
                  <% } else { %>
                    <img id="img_bd_boy_happy" class="img-responsive bd_boy_happy_off">
                  <% } %>
                </a>
              </td>
              <td>
                <a id="href_bd_boy_happy" href="javascript:;" class="a_couter" onclick="ga('send','event','reviews','click','bd_boy_happy');document.getElementById('formBdBoyHappyReviews').submit();">
                  <%= offer.countHappy %>
                </a>
              </td>

              <td width="10px;">&nbsp;</td>

              <!-- total bd boys sad -->
              <td>
                <form id="formBdBoySadReviews" action="/avaliacoes/<%= offer.product.nameURL%>?filter=2&page=1" method="post">
                    <input type="hidden" name="ean" value="<%= offer.ean %>"/>
                    <input type="hidden" name="offer" value="<%= offer._id %>"/>
                    <input type="hidden" name="page" value="1"/>
                </form>
                <a id="href_bd_boy_sad" href="javascript:;" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<%- include('../partials/tool_tip_bd_boy_sad') %>" class="bd_boy_sad_tooltip" onclick="ga('send','event','reviews','click','bd_boy_sad');document.getElementById('formBdBoySadReviews').submit();">
                  <% if ((order == 3) || (order == 1)) { %>
                    <img id="img_bd_boy_sad" class="img-responsive bd_boy_sad">
                  <% } else { %>
                    <img id="img_bd_boy_sad" class="img-responsive bd_boy_sad_off">
                  <% } %>
                </a>
              </td>
              <td>
                <a href="javascript:;" class="a_couter" onclick="ga('send','event','reviews','click','bd_boy_sad');document.getElementById('formBdBoySadReviews').submit();">
                <%= offer.countSad %>
                </a>
              </td>

              <td width="10px;">&nbsp;</td>

              <!-- btn ver avaliacoes-->
              <td>
                <form id="formBTNGetReviews" action="/avaliacoes/<%= offer.product.nameURL%>?page=1" method="post">
                    <input type="hidden" name="ean" value="<%= offer.ean %>"/>
                    <input type="hidden" name="offer" value="<%= offer._id %>"/>
                </form>
                <a id="btnVerReviews" href="javascript:;" class="btn btn-warning btn-xs" role="button" target="_self" onclick="ga('send','event','reviews','click','all_reviews');document.getElementById('formBTNGetReviews').submit();" style="padding: 5px 3px; width: 120px">
                  <% if ((order == 3) || (order == 2)) { %>
                      Ver Avaliações (<%= offer.totalReviews %>)
                  <% } else { %>
                      <text style="color: black" id="txt_ver_avaliacoes"> Ver Avaliações (<%= offer.totalReviews %>)</text>
                  <% } %>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
<!-- end name, price and block reviews -->

<div style="height: 200px" class="visible-md">&nbsp;</div>

<div style="height: 250px" class="visible-lg">&nbsp;</div>


    
