  <div class="col-xs-5 col-sm-4 col-md-4 col-lg-6" style="padding-right: 10px!important;padding-left: 1px!important;">
      <%# zanox offer to use two kinds of image size %>
      <% if (offer.image_medium) { %>
        <a href='/reviews/<%= offer.ean %>/offer/<%= offer._id %>/page/1' onclick="ga('send','event','reviews','click','foto_offer');">
          <img src="<%= offer.image_medium %>"  class="img-responsive" style="max-width: 100%">
        </a>
      <% } else { %> 
        <a href='/reviews/<%= offer.ean %>/offer/<%= offer._id %>/page/1' onclick="ga('send','event','reviews','click','foto_offer');">
          <img src="<%= offer.image_large %>"  class="img-responsive" style="max-width: 100%">
        </a>
      <% } %>
  </div>
  <div class="col-xs-7 col-sm-8 col-md-8 col-lg-6" style="padding-left: 0px!important;
padding-right: 8px!important">
      <strong><a href="/reviews/<%= offer.ean %>/offer/<%= offer._id %>/page/1" onclick="ga('send','event','reviews','click','name_offer');"><%= offer.name %></a></strong>
      <br>
      <h5 style="color: green"><small>a partir de: </small><%= offer.price_display %></h5>
  </div>


  
