<!--pagination -->
<row>

  <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4 ">
  </div>

  <div class="col-xs-10 col-sm-8 col-md-8 col-lg-8 ">

    <!-- previous -->

    <ul id="pagination_previous_offers" class="pagination">
      <form id="formPaginationOffer_previous" action="/offers" method="post">
        <input type="hidden" name="page" value="<%= pagination.previous %>"/>
        <input type="hidden" name="query" value="<%= query %>"/>
      </form>
      <% if (pagination.pages < 10) { %>
        <li class="disabled">
          <a href="#" aria-label="Previous">
             <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      <% } else { %>
        <li>
          <a href="javascript:;" onclick="document.getElementById('formPaginationOffer_previous').submit();" aria-label="Previous">
             <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      <% } %>
     
    </ul>

    <!-- pagination pages number -->

    <% for(var i=pagination.start; i < pagination.next; i++) { %>

      <ul id="pagination_numbers_offers" class="pagination">

        <form id="formPaginationOffer_<%= i %>" action="/offers" method="post">
          <input type="hidden" name="page" value="<%= i %>"/>
          <input type="hidden" name="query" value="<%= query %>"/>
        </form>

        <% if (i == pagination.page) { %>
          <li class="active">
            <a href="javascript:;" onclick="document.getElementById('formPaginationOffer_<%= i %>').submit();"><span aria-hidden="false"><%= i %></span></a>
          </li>
        <% } else { %>
          <li>
            <a href="javascript:;" onclick="document.getElementById('formPaginationOffer_<%= i %>').submit();"><span aria-hidden="true"><%= i %></span></a>
          </li>
        <% } %>

      </ul>

    <% } %>

      <!-- next -->

      <ul id="pagination_next_offers" class="pagination">
        <form id="formPaginationOffer_next" action="/offers" method="post">
          <input type="hidden" name="page" value="<%= pagination.next %>"/>
          <input type="hidden" name="query" value="<%= query %>"/>
        </form>
        <% if (pagination.pages < 10) { %>
          <li class="disabled">
            <a href="#" ria-label="Next">
               <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        <% } else { %>
          <li>
            <a href="javascript:;" onclick="document.getElementById('formPaginationOffer_next').submit();" aria-label="Next">
               <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        <% } %>
       
      </ul>
  </div>

</row>