
 <!-- img offer -->
 <div class="col-xs-5 col-sm-4 col-md-3 col-lg-3">
      <%# zanox offer two kinds of image size %>
      <% if (offer.image_medium) { %>
          <img id="img_picture_offer" src="<%= offer.image_medium %>"  class="img-responsive">
      <% } else { %> 
          <img id="img_picture_offer" src="<%= offer.image_large %>"  class="img-responsive">
      <% } %>
</div>

<!-- total of reviews -->
<div class="col-xs-7 col-sm-8 col-md-9 col-lg-9">
    <strong id="name_offer"><%= offer.name %></strong>
    <!-- total of reviews -->
    <h4>
      <% if (offer.totalReviews == 1) { %>
        <a id="a_total_reviews" href='/reviews/<%= offer.ean %>/offer/<%= offer._id %>/page/1/filter/0' onclick="ga('send','event','reviews','click','all_reviews');">
        <%= offer.totalReviews %> avaliação
        </a> 
      <% } else { %>
        <a id="a_total_reviews" href='/reviews/<%= offer.ean %>/offer/<%= offer._id %>/page/1/filter/0' onclick="ga('send','event','reviews','click','all_reviews');">
        <%= offer.totalReviews %> avaliações 
        </a> 
      <% } %>
    </h4>

    <br>

    <row>
       <table id="tbl_box_reviews">
        <tbody>
          <tr>
            <!-- BD BOY HAPPY -->
            <td>
              <% if (offer.countHappy  > 0) { %>
                <a id="a_bd_boy_happy_icon" href='/reviews/<%= offer.ean %>/offer/<%= offer._id %>/page/1/filter/1' data-toggle="tooltip" data-placement="bottom" data-html="true" title="<%- include('../partials/tool_tip_bd_boy_happy') %>" class="bd_boy_happy_tooltip" onclick="ga('send','event','reviews','click','bd_boy_happy');">
                  <% if ((filter == 1) || (filter == 0)){ %>
                    <img id="img_bd_boy_happy" class="img-responsive bd_boy_happy">
                  <% } else { %>
                    <img id="img_bd_boy_happy" class="img-responsive bd_boy_happy_off">
                  <% } %>
                </a>
              <% } else { %>
                <img id="img_bd_boy_happy" class="img-responsive bd_boy_happy bd_boy_happy_tooltip" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<%- include('../partials/tool_tip_bd_boy_happy') %>">
              <% } %>
            </td>

            <td width="5px;"></td>

            <td>
              <% if (offer.countHappy  > 0) { %>
                <a id="counter_happy" href='/reviews/<%= offer.ean %>/offer/<%= offer._id %>/page/1/filter/1' class="a_couter" onclick="ga('send','event','reviews','click','bd_boy_happy');">
                  <text id="counter_happy"><%= offer.countHappy %></text>
                </a>
              <% } else { %>
                <text id="counter_happy"><%= offer.countHappy %></text>
              <% } %>         
            </td>
            
            <td width="20px"></td>

            <!-- BD BOY SAD -->
            <td>
              <% if (offer.countSad  > 0) { %>
                <a id="a_bd_boy_sad_icon" href='/reviews/<%= offer.ean %>/offer/<%= offer._id %>/page/1/filter/2' data-toggle="tooltip" data-placement="bottom" data-html="true" title="<%- include('../partials/tool_tip_bd_boy_sad') %>" class="bd_boy_sad_tooltip" onclick="ga('send','event','reviews','click','bd_boy_sad');">
                  <% if ((filter == 2) || (filter == 0)) { %>
                    <img id="img_bd_boy_sad" class="img-responsive bd_boy_sad">
                  <% } else { %>
                    <img id="img_bd_boy_sad" class="img-responsive bd_boy_sad_off">
                  <% } %>
                </a>
              <% } else { %>
                  <img id="img_bd_boy_sad" class="img-responsive bd_boy_sad bd_boy_sad_tooltip" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<%- include('../partials/tool_tip_bd_boy_sad') %>">
              <% } %>
            </td>

            <td width="5px;"></td>

            <td>
              <% if (offer.countSad  > 0) { %>
                <a id="counter_sad" href='/reviews/<%= offer.ean %>/offer/<%= offer._id %>/page/1/filter/2' class="a_couter" onclick="ga('send','event','reviews','click','bd_boy_sad');">
                  <text id="counter_sad"><%= offer.countSad %></text>
                </a>
              <% } else { %>
                <text id="counter_sad"><%= offer.countSad %></text>
              <% } %>
            </td>

          </tr>
        </tbody>
      </table>
    </row>
</div>

<!-- It will set the height of the whole row based on the height of the tallest member of in thar row -->
<div class="clearfix visible-md"></div>


