<!-- total of reviews,  name prodduct-->
<div>
  <span class="google_info" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
    <span itemprop="ratingValue">4</span> stars -
    <span itemprop="reviewCount">3077</span> reviews
  </span>
  <table id="tbl_box_reviews">
    <tbody>
      <tr>
        <td>
         <!-- total of reviews -->
          <h4>
            <% if (product.totalReviews == 1) { %>
              <a id="a_total_reviews" href="/<%= query %>/<%= product.nameURL%>?page=1&filter=0#ver_reviews" class="ga_click_ler_reviews">
                <span class="badge_ver_avaliacoes"> 
                  <h4 class="title_avaliacoes">Ver <span itemprop=""><%= product.totalReviews %></span> Avaliações </h4>
                </span> 
              </a> 
            <% } else { %>
              <a id="a_total_reviews" href="/<%= query %>/<%= product.nameURL%>?page=1&filter=0#ver_reviews" class="ga_click_ler_reviews">
                <span class="badge_ver_avaliacoes"> 
                  <h4 class="title_avaliacoes">Ver <span itemprop=""><%= product.totalReviews %></span> Avaliações </h4>
                </span>
              </a> 
            <% } %>
          </h4>
        </td>

        <td width="25px;"></td>

        <!-- BD BOY HAPPY -->
        <td>
          <% if (product.countHappy  > 0) { %>
            <a itemprop="url" id="a_bd_boy_happy_icon" href="/<%= query %>/<%= product.nameURL%>?page=1&filter=1#ver_reviews"" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<%- include('../partials/tool_tip_bd_boy_happy') %>" class="bd_boy_happy_tooltip ga_click_ler_reviews" >
              <% if ((filter == 1) || (filter == 0)){ %>
                <img itemprop="image" id="img_bd_boy_happy" class="img-responsive bd_boy_happy">
              <% } else { %>
                <img itemprop="image" id="img_bd_boy_happy" class="img-responsive bd_boy_happy_off">
              <% } %>
            </a>
          <% } else { %>
            <img id="img_bd_boy_happy" class="img-responsive bd_boy_happy bd_boy_happy_tooltip" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<%- include('../partials/tool_tip_bd_boy_happy') %>">
          <% } %>
        </td>

        <td width="5px;"></td>

        <td>
          <% if (product.countHappy  > 0) { %>
            <a itemprop="url" id="counter_happy" href="/<%= query %>/<%= product.nameURL%>?page=1&filter=1#ver_reviews"" class="a_couter ga_click_ler_reviews">
              <text id="counter_happy"><span><%= product.countHappy %></span></text>
            </a>
          <% } else { %>
            <text id="counter_happy"><span><%= product.countHappy %></span></text>
          <% } %>         
        </td>
        
        <td width="20px"></td>

        <!-- BD BOY SAD -->
        <td>
          <% if (product.countSad  > 0) { %>
            <a itemprop="url" id="a_bd_boy_sad_icon" href="/<%= query %>/<%= product.nameURL%>?page=1&filter=2#ver_reviews"" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<%- include('../partials/tool_tip_bd_boy_sad') %>" class="bd_boy_sad_tooltip ga_click_ler_reviews">
              <% if ((filter == 2) || (filter == 0)) { %>
                <img itemprop="image" id="img_bd_boy_sad" class="img-responsive bd_boy_sad">
              <% } else { %>
                <img itemprop="image" id="img_bd_boy_sad" class="img-responsive bd_boy_sad_off">
              <% } %>
            </a>
          <% } else { %>
              <img itemprop="image" id="img_bd_boy_sad" class="img-responsive bd_boy_sad bd_boy_sad_tooltip" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<%- include('../partials/tool_tip_bd_boy_sad') %>">
          <% } %>
        </td>

        <td width="5px;"></td>

        <td>
          <% if (product.countSad  > 0) { %>
            <a itemprop="url" id="counter_sad" href="/<%= query %>/<%= product.nameURL%>?page=1&filter=2#ver_reviews"" class="a_couter ga_click_ler_reviews">
              <text id="counter_sad"><span><%= product.countSad %></span></text>
            </a>
          <% } else { %>
            <text id="counter_sad"><span><%= product.countSad %></span></text>
          <% } %>
        </td>
        <!-- END BD BOY SAD -->
      </tr>
    </tbody>
  </table>
</div>

 

