<style type="text/css">

	@import url('https://fonts.googleapis.com/css?family=Francois+One|Maven+Pro');

	.review_text{
		font-family:'Maven Pro', sans-serif;
		font-size: 15px;
	/*	font-style: italic*/
	}

	.reviewTextTitle{
		font-family:'Maven Pro', sans-serif;
		font-size: 15px;
		font-weight: bold;
	}
</style>


<% if (review.rating >= 4) { %>
  <img itemprop="image" id="bd_boy_review" class="img-responsive pull-left bd_boy_happy" style="width: 28px" ></img>
<% } else { %>  
  <img itemprop="image" id="bd_boy_review" class="img-responsive pull-left bd_boy_sad" style="width: 28px"></img>
<% } %> 

<text itemprop="" id="review_title" class="reviewTextTitle">&nbsp;&nbsp;<%= review.title %></text>
<p>
<% if (review.rating >= 4) { %>
  <blockquote id="review_description" style="background-color: rgba(218, 250, 229, 0.21);margin-left: 35px;" class="review_text">
<% } else { %> 
  <blockquote id="review_description" style="background-color: rgba(246, 66, 78, 0.03);margin-left: 35px" class="review_text"> 
<% } %> 
  " <span itemprop=""><%= review.description %></span>"
  <footer id="review_author">
    avaliado pelo usuário(a) <span itemprop=""><%= review.author %></span>
    <cite title="Source Title">no site <%= review.advertiser %></cite> em <%= review.dateBR %>

  </footer>
</blockquote>
<br>
    
   