<% if ( typeof offer.lowerOfferEan != 'undefined') { %> 
<table class="box_lower_offer_reviews">
    <tbody>
      <tr>
        <td class="visible-xs visible-sm hidden-md hidden-lg">
          <h5 class="text-muted badge badge_ver_avaliacoes"><smal>menor preço</smal></h5>
        </td>
      </tr>
      <tr>
        <td class="hidden-xs hidden-sm">
          <h5 class="text-muted badge badge_ver_avaliacoes"><smal>menor preço</smal></h5>
        </td>
        <td itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="price_offer_reviews">
          <a itemprop="url" id="href_offer_price" href="<%= offer.lowerOfferEan.url %>" target="_blank" class="ga_click_ir_loja">
            <% if ((order == 1) || (order == 2) || (order == 3)) { %>
              <h5 class="txt_price_bold">
                <%= offer.lowerOfferEan.price_display %>
              </h5>
            <% } else { %>
              <h5 class="txtPriceLowerOfferbold">
                <%= offer.lowerOfferEan.price_display %>
              </h5>
            <% } %>
            <span class="google_info">
              <span itemprop="price"><%= offer.price %></span>
              <meta itemprop="priceCurrency" content="BRL" />
            </span>
          </a>       
        </td>
        <td class="logoMerchantLowerOfferReviews">
          <% if (offer.lowerOfferEan.advertiser == 'Walmart BR')  { %>
            <a href="<%= offer.lowerOfferEan.url %>" target="_blank" class="ga_click_ir_loja">
              <img id="img_retailer"  class="img-responsive walmart">
            </a>      
          <% } else if (offer.lowerOfferEan.advertiser == 'Ricardo Eletro BR') { %>
            <a href="<%= offer.lowerOfferEan.url %>" target="_blank" class="ga_click_ir_loja">
              <img id="img_retailer" class="img-responsive ricardo_eletro">
            </a>   
          <% } else if (offer.lowerOfferEan.advertiser == 'Pontofrio BR') { %>
            <a href="<%= offer.lowerOfferEan.url %>" target="_blank" class="ga_click_ir_loja">
              <img id="img_retailer" class="img-responsive ponto_frio">
            </a>
          <% } else if (offer.lowerOfferEan.advertiser == 'Extra BR') { %>
            <a href="<%= offer.lowerOfferEan.url %>" target="_blank" class="ga_click_ir_loja">
              <img id="img_retailer" class="img-responsive extra">
            </a>
          <% } else if (offer.lowerOfferEan.advertiser == 'Casas Bahia BR') { %>
            <a href="<%= offer.lowerOfferEan.url %>" target="_blank" class="ga_click_ir_loja">
              <img id="img_retailer" class="img-responsive casas_bahia">
            </a>
          <% } else if (offer.lowerOfferEan.advertiser == 'Brastemp BR') { %>
            <a href="<%= offer.lowerOfferEan.url %>" target="_blank" class="ga_click_ir_loja">
              <img id="img_retailer" class="img-responsive brastemp">
            </a>
          <% } else if (offer.lowerOfferEan.advertiser == 'Consul BR') { %>
            <a href="<%= offer.lowerOfferEan.url %>" target="_blank" class="ga_click_ir_loja">
              <img id="img_retailer" class="img-responsive consul">
            </a>
          <% } else if (offer.lowerOfferEan.advertiser == 'Pontofrio BR') { %>
            <a href="<%= offer.lowerOfferEan.url %>" target="_blank" class="ga_click_ir_loja">
              <img id="img_retailer" class="img-responsive ponto_frio">
            </a> 
          <% } else if (offer.lowerOfferEan.advertiser == 'Girafa BR') { %>
            <a href="<%= offer.lowerOfferEan.url %>" target="_blank" class="ga_click_ir_loja">
              <img id="img_retailer" class="img-responsive girafa">
            </a> 
          <% } else if (offer.lowerOfferEan.advertiser == 'Fastshop BR') { %>
            <a href="<%= offer.lowerOfferEan.url %>" target="_blank" class="ga_click_ir_loja">
              <img id="img_retailer" class="img-responsive fast_shop">
            </a>            
          <% } else { %>
            <a href="<%= offer.lowerOfferEan.url %>" target="_blank" class="ga_click_ir_loja">
              <img id="img_retailer" class="img-responsive lojas_colombo">
            </a>          
          <% } %>
        </td>
        <td class="btn_offer_review">
          <a itemprop="url" id="href_ir_loja" href="<%= offer.lowerOfferEan.url %>" class="btn btn-warning ga_click_ir_loja btnIrLojaLowerOfferReviews" role="button" target="_blank">Ir à loja</a>
        </td>
      </tr>
    </tbody>
  </table>

  <%# mais ofertas %>
  <% if (offers.docs.length > 1)  { %>
      <div class="text-muted badge badge_ver_lst_offers">
        <a class="" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          <smal>ver mais ofertas : <%= offers.docs.length - 1 %></smal>
        </a>
      </div>

      <div class="collapse col-xs-12 col-sm-12 col-md-12 col-lg-12" id="collapseExample">
        <div class="lst_offers">
        
            <% if ((offers.docs[0] !== undefined) && (offers.docs.length > 0))  { %>
         
              <%- include('../partials/hr') %>
              <span itemprop="offers" itemscope itemtype="http://schema.org/AggregateOffer">
              
                <span class="google_info">
                  <span itemprop="offerCount"><%= offers.total %></span>
                  <meta itemprop="priceCurrency" content="BRL" />
                  <span itemprop="lowPrice"><%= offers.docs[0].lowerOfferEan.price %></span>
                </span>
           
                <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                  <% if (offers.docs.length == 1) { %>
                    <%- include('../offers/box_prices_reviews',{offer:offers.docs[0]}); %> 
                    <p>
                  <% } else { %>
                    <% for(var i=0; i <offers.docs.length; i++) { %> 
                      <%- include('../offers/box_prices_reviews',{offer:offers.docs[i]}); %>
                      <p>  
                    <% }  %>
                  <% }  %>    
                </span>

              </span>

            <% } %>
        </div>
      </div>
  <% } %>

<% } %>


