<!--pagination -->
<row>

  <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4 ">
  </div>

  <div class="col-xs-10 col-sm-8 col-md-8 col-lg-8 ">

    <!-- previous -->

    <ul id="pagination_previous_reviews" class="pagination">
        <% if (pagination.pages < 10) { %>
          <li class="disabled">
            <a href="#" aria-label="Previous">
               <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
         <% } else { %>
          <li>
            <a href="/reviews/ean/<%= ean %>/page/<%= pagination.previous %>/page/<%= pagination.previous %>" aria-label="Previous">
               <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
         <% } %>
    </ul>

    <!-- pagination pages number -->

    <% for(var i=pagination.start; i < pagination.totalPaginacao; i++) { %>

      <ul id="pagination_numbers_reviews" class="pagination">

        <% if (i == pagination.page) { %>
          <li class="active">
            <a href="/reviews/ean/<%= ean %>/page/<%= i %>"><span aria-hidden="false"><%= i %></span></a>
          </li>
        <% } else { %>
          <li>
            <a href="/reviews/ean/<%= ean %>/page/<%= i %>"><span aria-hidden="true"><%= i %></span></a>
          </li>
        <% } %>

      </ul>

    <% } %>

      <!-- next -->

      <ul id="pagination_next_reviews" class="pagination">
        <% if (pagination.pages < 10) { %>
          <li class="disabled">
            <a href="#" ria-label="Next">
               <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
         <% } else { %>
          <li>
            <a href="/reviews/ean/<%= ean %>/page/<%= pagination.next %>/page/<%= pagination.next %>" aria-label="Next">
               <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
         <% } %>
      </ul>
  </div>

</row>