<!DOCTYPE html>
<html lang="pt">
  <head>
    <title><%= product.name %><%= title %></title>
    <link rel="alternate" href="http://www.beforedeciding.com.br/avaliacoes/<%= product.nameURL %>" hreflang="pt-br" />
    <meta name="description" content="Veja avaliações de <%= product.name %> no Before Deciding, antes de decidir a sua compra." />
    <meta name="keywords" content="<%= product.name %>,avaliações de <%= product.name %>,reviews de <%= product.name %>"  />
    <meta property="og:title" content="Before Deciding | Veja avaliações antes de comprar." />
    <meta property="og:description" content="Veja avaliações de produtos no Before Deciding, antes de decidir a sua compra." />
    <link rel="canonical" href="http://www.beforedeciding.com.br/avaliacoes/<%= product.nameURL %>" />
    <%- include('../partials/head') %> 
  </head>

  <body class="body_review">

    <!-- Begin page content -->
    <div class="container-fluid">

      <%- include('../partials/nav_head') %> 
          
      <div id="var_query" style="visibility: hidden;display: none;"><%= query %></div>
      
      <!-- BREADCRUMB -->
      <row>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">   
          <%- include('./breadcrumb_reviews') %>
        </div>
      </row>

      <!-- HR -->
      <row>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%- include('../partials/hr') %>
        </div>
      </row>
      
      <!-- PRODUCT NAME -->
      <row>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
          <%- include('../product/product_name',{offer:head_reviews}); %> 
          <p>
          <%- include('./box_reviews',{offer:head_reviews}); %> 
        </div>  
      </row>

      <div style="height:150px"></div>
      
      <!-- PRODUCT IMAGEM -->
      <row>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;margin-bottom: 35px">
          <img id="img_picture_offer" src="<%= product.image %>" onclick="ga('send','event','reviews','click','foto_offer');" style="max-height: 200px">
        </div>
      </row>

      <!-- LIST REVIEWS -->
      <row>
        <% for(var i=0; i <reviews.docs.length; i++) { %> 
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <%- include('./list_reviews',{review:reviews.docs[i]}); %>
          </div>
        <% }  %>     
      </row>
      
      <!-- PAGIANTION REVIEWS -->
      <row>
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style=" text-align: center">
          <%- include('./pagination_reviews') %>
        </div>
      </row>
      
    </div>
    <!-- End page content -->
    
    <!-- FOOTER -->
    <footer class="footer">
      <div class="panel-footer"><%- include('../partials/footer') %></div>
    </footer>
    
    <!-- JavaScript Section -->
    <script type="text/javascript">
      $(document).ready(function(){
          $('a[data-toggle=tooltip]').tooltip();
         
      });
    </script>

  </body>

</html>
