<!DOCTYPE html>
<html lang="pt">
  <head>
    <title><%= product.name %><%= title %></title>
    <link rel="alternate" href="http://www.decidaki.com.br/<%= query %>/<%= product.nameURL %>" hreflang="pt-br" />
    <meta name="description" content="Veja avaliações de <%= product.name %> no Decidaki, antes de decidir a sua compra." />
    <meta name="keywords" content=" avaliações, avaliações de <%= product.name %>, comparador de avalições, reviews, reviews de <%= product.name %>, comparador de <%= product.name %>, avaliações de e-commerce, decidaki"  />
    <link rel="canonical" href="http://www.decidaki.com.br/<%= query %>/<%= product.nameURL %>" />
    <%- include('../partials/head') %>
  </head>

  <body class="body_review">

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MV9HDK3"
    height="0" width="0" class="google_info"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Begin page content -->
    <div class="container-fluid">

      <%- include('../partials/nav_head') %> 
          
      <div id="var_query" class="google_info"><%= query %></div>
      <div id="var_departament" class="google_info"><%= departamentBD %></div>
      
      <!-- 1st column >> -->
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8"> 

        <!-- BREADCRUMB -->
        <row>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">   
            <%- include('../partials/breadcrumb') %>
          </div>
        </row>

        <!-- HR -->
        <row>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <%- include('../partials/hr') %>
          </div>
        </row>

        <!-- PRODUCT AND OFFER -->

        <row>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <span itemscope itemtype="http://schema.org/Product">
              <div class="col-xs-12 col-sm-3 col-md-4 col-lg-4 div_img_product">
                <img itemprop="image" id="img_picture_offer" src="<%= product.image %>" class="img-responsive">
              </div>

              <div class="col-xs-12 col-sm-9 col-md-8 col-lg-8" >
                <%- include('../product/product_name',{offer:head_reviews}); %> 
                <br>
           
                <%- include('./box_reviews',{offer:head_reviews}); %> 
                <br>
              </div>
            </span>  
          </div>
        </row>
        
        <!-- OFFER  -->
        <% if (offers.docs[0] !== undefined) { %>
          <row>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <h4 id="ver_reviews" class="text-muted"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;&nbsp;Ver Ofertas (<%= offers.docs.length  %>) </h4>
            </div>
          </row>
          
          <row>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <%- include('../partials/hr') %>
            </div>
          </row>
      
          <row>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <span itemprop="offers" itemscope itemtype="http://schema.org/AggregateOffer">
                <span class="google_info">
                  <span itemprop="offerCount"><%= offers.total %></span>
                </span>
                <% if (offers.docs.length > 0) { %>
                  <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                    <% if (offers.docs.length == 1) { %>
                      <%- include('../offers/box_prices_reviews',{offer:offers.docs[0]}); %> 
                      <p>
                    <% } else { %>
                      <% for(var i=0; i <offers.docs.length; i++) { %> 
                        <%- include('../offers/box_prices_reviews',{offer:offers.docs[i]}); %>
                        <p>  
                      <% }  %>
                    <% }  %>    
                  </span>
                <% } %>
              </span>
            </div>
          </row>
        <% } %>
           
        <!-- REVIEWS  -->
        
        <row>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h4 id="ver_reviews" class="text-muted"><span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;Ver Avaliações (<%= product.totalReviews %>)</h4>
          </div>
        </row>

        <row>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <%- include('../partials/hr') %>
          </div>
        </row>

        <!-- LIST REVIEWS -->
        <row>
          
          <% for(var i=0; i <reviews.docs.length; i++) { %> 
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <span itemprop="review" itemscope itemtype="http://schema.org/Review">
                <span class="google_info" itemprop="author"><%= reviews.docs[i].author %></span>
                <span  class="google_info" itemprop="name"><%= reviews.docs[i].title %></span>
                <span  class="google_info" itemprop="reviewBody"><%= reviews.docs[i].reviewBody %></span>
                <span  class="google_info" itemprop="reviewRating"><%= reviews.docs[i].rating %></span>
                <span class="google_info" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                  <span itemprop="ratingValue"><%= reviews.docs[i].rating %></span> 
                  <span itemprop="reviewCount"><%= product.totalReviews %></span>
                </span>
                <%- include('./list_reviews',{review:reviews.docs[i],product:product}); %>
              </span>
            </div>
          <% }  %>  
        </row>
              
        <!-- PAGINATION REVIEWS -->
        <row>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style=" text-align: center">
            <%- include('./pagination_reviews') %>
          </div>
        </row>
       
      </div>
      
    </div>
    <!-- End page content -->
    
    <!-- FOOTER -->
    <footer class="footer">
      <div class="panel-footer"><%- include('../partials/footer') %></div>
    </footer>
    
    <!-- JavaScript Section -->
    <script type="text/javascript">
      $(document).ready(function(){
          $('a[data-toggle=tooltip]').tooltip();
         
      });
    </script>

  </body>

</html>
