<!DOCTYPE html>
<html lang="pt">
  <head>
    <title><%= product.name %><%= title %></title>
    <link rel="alternate" href="http://www.decidaki.com.br/<%= query %>/<%= product.nameURL %>" hreflang="pt-br" />
    <meta name="description" content="Veja avaliações de <%= product.name %> no Decidaki, antes de decidir a sua compra." />
    <meta name="keywords" content=" avaliações, avaliações de <%= product.name %>, comparador de avalições, reviews, reviews de <%= product.name %>, comparador de <%= product.name %>, avaliações de e-commerce, decidaki"  />
    <link rel="canonical" href="http://www.decidaki.com.br/<%= query %>/<%= product.nameURL %>" />
    <%- include('../partials/head') %>
  </head>

  <body class="body_review">

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MV9HDK3"
    height="0" width="0" class="google_info"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Begin page content -->
    <div class="container-fluid" itemscope itemtype="http://schema.org/Product">

      <%- include('../partials/nav_head') %> 
          
      <div id="var_query" class="google_info"><%= query %></div>
      <div id="var_departament" class="google_info"><%= departamentBD %></div>
      
      <!-- BREADCRUMB -->
      <row>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">   
          <%- include('../partials/breadcrumb') %>
        </div>
      </row>

      <!-- HR -->
      <row>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%- include('../partials/hr') %>
        </div>
      </row>
      
      <!-- 1st column >> -->
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9"> 
        <!-- PRODUCT AND OFFER -->

        <row>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 boxProductReviews">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 div_img_product">
              <img itemprop="image" id="img_picture_offer" src="<%= product.image %>" class="img-responsive">
            </div>

            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" >
              <%- include('../product/product_name',{offer:head_reviews}); %> 
              
              <div style="height: 10px"></div>
              <!-- brand -->
              <%- include('../brand/brand_name',{offer:offers.docs[0]}); %>
              
              <div style="height: 10px"></div>
        
              <span class="google_info"  itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                <span itemprop="ratingValue">3</span> 
                <span itemprop="reviewCount"><%= product.totalReviews %></span> 
              </span>

              <div style="height: 10px"></div>
                
              <%- include('./box_reviews',{offer:head_reviews}); %> 
    
              <hr class="row hr_offer">
              
              <div style="height: 20px"></div>
                <%- include('./lowerOfferEanReviews',{offer:offers.docs[0]}); %> 
            </div>
          </div>
        </row>
        
          
        <!-- REVIEWS  -->
        
        <row>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h4 id="ver_reviews">Avaliações de clientes</h4>
          </div>
        </row>

        <row>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <%- include('../partials/hr') %>
          </div>
        </row>
        
        <row>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h5>
              <a href="/<%= query %>/<%= product.nameURL%>?page=1&filter=0#ver_reviews">
              Ver todas <%= product.totalReviews %> avaliações de clientes
              </a>
            </h5>
          </div>
        </row>

        <row>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>
          </div>
        </row>

        <row>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <table id="tbl_box_offers_reviews">
              <tbody>
                <tr>

                  <!-- BD BOY HAPPY -->
                  <td>
                    <% if (product.countHappy  > 0) { %>
                      <a itemprop="url" id="a_bd_boy_happy_icon" href="/<%= query %>/<%= product.nameURL%>?page=1&filter=1#ver_reviews"" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<%- include('../partials/tool_tip_bd_boy_happy') %>" class="bd_boy_happy_tooltip ga_click_ler_reviews" >
                        <% if ((filter == 1) || (filter == 0)){ %>
                          <img itemprop="image" id="img_bd_boy_happy" class="img-responsive bd_boy_happy">
                        <% } else { %>
                          <img itemprop="image" id="img_bd_boy_happy" class="img-responsive bd_boy_happy_off">
                        <% } %>
                      </a>
                    <% } else { %>
                      <img id="img_bd_boy_happy" class="img-responsive bd_boy_happy bd_boy_happy_tooltip" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<%- include('../partials/tool_tip_bd_boy_happy') %>">
                    <% } %>
                  </td>

                  <td width="5px;"></td>

                  <td>
                    <% if (product.countHappy  > 0) { %>
                      <a itemprop="url" id="counter_happy" href="/<%= query %>/<%= product.nameURL%>?page=1&filter=1#ver_reviews"" class="a_couter ga_click_ler_reviews">
                        <text id="counter_happy">
                          <%= product.countHappy %> 
                        </text>
                        </a>
                       <span>
                          <% if (product.countHappy  == 1) { %>
                            &nbsp(avaliação com 4 ou 5 estrelas)
                          <% } else { %>
                            &nbsp(avaliações com 4 ou 5 estrelas)
                          <% } %> 
                        </span>  
                    <% } else { %>
                      <text id="counter_happy">
                        <span>0&nbsp&nbsp(avaliação com 1, 2 ou 3 estrelas)</span>
                      </text>
                    <% } %> 
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </row>

        <row>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>
          </div>
        </row>
        
        <row>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>
          </div>
        </row>

        <row>
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <table id="tbl_box_offers_reviews">
            <tbody>
              <tr>
                <!-- BD BOY SAD -->
                <td>
                  <% if (product.countSad  > 0) { %>
                    <a itemprop="url" id="a_bd_boy_sad_icon" href="/<%= query %>/<%= product.nameURL%>?page=1&filter=2#ver_reviews"" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<%- include('../partials/tool_tip_bd_boy_sad') %>" class="bd_boy_sad_tooltip ga_click_ler_reviews">
                      <% if ((filter == 2) || (filter == 0)) { %>
                        <img itemprop="image" id="img_bd_boy_sad" class="img-responsive bd_boy_sad">
                      <% } else { %>
                        <img itemprop="image" id="img_bd_boy_sad" class="img-responsive bd_boy_sad_off">
                      <% } %>
                    </a>
                  <% } else { %>
                      <img itemprop="image" id="img_bd_boy_sad" class="img-responsive bd_boy_sad bd_boy_sad_tooltip" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<%- include('../partials/tool_tip_bd_boy_sad') %>">
                  <% } %>
                </td>

                <td width="5px;"></td>

                <td>
                  <% if (product.countSad  > 0) { %>
                    <a itemprop="url" id="counter_sad" href="/<%= query %>/<%= product.nameURL%>?page=1&filter=2#ver_reviews" class="a_couter ga_click_ler_reviews">
                      <text id="counter_sad">
                       <%= product.countSad %> 
                      </text>
                    </a>
                    <% if (product.countSad  == 1) { %>
                        &nbsp(avaliação com 1, 2 ou 3 estrelas)
                      <% } else { %>
                       &nbsp(avaliações com 1, 2 ou 3 estrelas)
                    <% } %> 
                  <% } else { %>
                    <text id="counter_sad">
                      <span>0&nbsp&nbsp(avaliação com 1, 2 ou 3 estrelas)</span>
                    </text>
                  <% } %>
                </td>
                <!-- END BD BOY SAD -->
              </tr>
            </tbody>
          </table>
          </div>
        </row>

        
        <row>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>
          </div>
        </row>


        <row>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>
          </div>
        </row>
        
          <row>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>
          </div>
        </row>


        <!-- LIST REVIEWS -->
        <row>
          
          <% for(var i=0; i <reviews.docs.length; i++) { %> 

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

              <span itemprop="review" itemscope itemtype="http://schema.org/Review">
                <span class="google_info" itemprop="author"><%= reviews.docs[i].author %></span>
                <span  class="google_info" itemprop="name"><%= reviews.docs[i].title %></span>
                <span  class="google_info" itemprop="description"><%= reviews.docs[i].description %></span>
                <meta itemprop="datePublished" content="<%= reviews.docs[i].datePublished %>">
                <span class="google_info" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                  <meta itemprop="worstRating" content = "1"/>
                  <span itemprop="ratingValue">3</span>/
                  <span itemprop="bestRating">5</span>
                </span>

                <%- include('./list_reviews',{review:reviews.docs[i],product:product}); %>

              </span>

            </div>
          <% }  %>  
        </row>

        <!-- PAGINATION REVIEWS -->
        <row>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style=" text-align: center">
            <%- include('./pagination_reviews') %>
          </div>
        </row>
       
      </div>
      
      <!-- 2st column > -->
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" style="padding-right: 10px">

        <row>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: -15px;
margin-left: -20px">
            <h4>Outras ofertas:</h4>
          </div>
        </row>
        
        <span class="ga_click_ir_loja">
        <!-- Vitrine Inteligente Lomadee -->
        <div style="margin-left: -10px" class="visible-lg">
          <div class="g3S6Z4x927jE" style="width: 300px; height: 600px">
            <script type="text/javascript" class="lomadee-recommender-script" src="//ad.lomadee.com/v1/eyJwdWJsaXNoZXJJZCI6MjI3MzMzMTMsInNpdGVJZCI6MzM5MDQyMjAsInNvdXJjZUlkIjozNTgwNjc0NH0%3D.js?w=300&h=600"></script>
          </div><!-- Vitrine Inteligente Lomadee -->
        </div>

        <!-- Vitrine Inteligente Lomadee -->
        <div style="margin-left: -10px" class="visible-md">
          <!-- Vitrine Inteligente Lomadee -->
          <div class="g3S6Z4x927jE" style="width: 160px; height: 600px">
          <script type="text/javascript" class="lomadee-recommender-script" src="//ad.lomadee.com/v1/eyJwdWJsaXNoZXJJZCI6MjI3MzMzMTMsInNpdGVJZCI6MzM5MDQyMjAsInNvdXJjZUlkIjozNTgwNjc0NH0%3D.js?w=160&h=600"></script>
          </div><!-- Vitrine Inteligente Lomadee -->
        </div>
        </span>
 
      </div>
      
    </div>
    <!-- End page content -->
    
    <!-- FOOTER -->
    <footer class="footer">
      <div class="panel-footer"><%- include('../partials/footer') %></div>
    </footer>
    
    <!-- JavaScript Section -->
    <script type="text/javascript">
      $(document).ready(function(){
          $('a[data-toggle=tooltip]').tooltip();
         
      });
    </script>

  </body>

</html>
