<!DOCTYPE html>
<html lang="pt">
  <head>
    <title><%= product.name %><%= title %></title>
    <link rel="alternate" href="http://www.decidaki.com.br/<%= query %>/<%= product.nameURL %>" hreflang="pt-br" />
    <meta name="description" content="Veja avaliações de <%= product.name %> no Decidaki, antes de decidir a sua compra." />
    <meta name="keywords" content=" avaliações, avaliações de <%= product.name %>, comparador de avalições, reviews, reviews de <%= product.name %>, comparador de <%= product.name %>, avaliações de e-commerce, decidaki"  />
    <link rel="canonical" href="http://www.decidaki.com.br/<%= query %>/<%= product.nameURL %>" />
    <%- include('../partials/head') %>
  </head>

  <body class="body_review">

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MV9HDK3"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Begin page content -->
    <div class="container-fluid">

      <%- include('../partials/nav_head') %> 
          
      <div id="var_query" style="visibility: hidden;display: none;"><%= query %></div>
      <div id="var_departament" style="visibility: hidden;display: none;"><%= departamentBD %></div>
      
      <!-- 1st column >> -->
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8"> 

        <!-- BREADCRUMB -->
        <row>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">   
            <%- include('../partials/breadcrumb') %>
          </div>
        </row>

        <!-- HR -->
        <row>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <%- include('../partials/hr') %>
          </div>
        </row>

        <!-- PRODUCT  -->
        <row>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          
            <div class="col-xs-12 col-sm-3 col-md-4 col-lg-4 div_img_product">
              <img id="img_picture_offer" src="<%= product.image %>" class="img-responsive">
            </div>

            <div class="col-xs-12 col-sm-9 col-md-8 col-lg-8" >
              <%- include('../product/product_name',{offer:head_reviews}); %> 
              <br>
              <%- include('./box_reviews',{offer:head_reviews}); %> 
              <br>
            </div>  

         </div>
        </row>
        
        <!-- OFFER  -->
        <% if (offers.docs[0] !== undefined) { %>
          <row>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <h4 id="ver_reviews" class="text-muted"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;&nbsp;Ver Ofertas (<%= offers.docs.length  %>) </h4>
            </div>
          </row>
          
          <row>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <%- include('../partials/hr') %>
            </div>
          </row>
      
          <row>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <% if (offers.docs.length > 0) { %>
                <% if (offers.docs.length == 1) { %>
                  <%- include('../offers/box_prices_reviews',{offer:offers.docs[0]}); %> 
                  <p>
                <% } else { %>
                  <% for(var i=0; i <offers.docs.length; i++) { %> 
                    <%- include('../offers/box_prices_reviews',{offer:offers.docs[i]}); %>
                    <p>  
                  <% }  %>
                <% }  %>           
              <% } %>
            </div>
          </row>
       <% } %>
        
        <!-- REVIEWS  -->
        <row>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h4 id="ver_reviews" class="text-muted"><span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;Ver Avaliações (<%= product.totalReviews %>)</h4>
          </div>
        </row>

        <row>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <%- include('../partials/hr') %>
          </div>
        </row>

        
        <!-- LIST REVIEWS -->
        <row>
          <% for(var i=0; i <reviews.docs.length; i++) { %> 
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <%- include('./list_reviews',{review:reviews.docs[i]}); %>
            </div>
          <% }  %>     
        </row>
        
        <!-- PAGINATION REVIEWS -->
        <row>
           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style=" text-align: center">
            <%- include('./pagination_reviews') %>
          </div>
        </row>
      </div>
      

    <!-- End page content -->
    
    <!-- FOOTER -->
    <footer class="footer">
      <div class="panel-footer"><%- include('../partials/footer') %></div>
    </footer>
    
    <!-- JavaScript Section -->
    <script type="text/javascript">
      $(document).ready(function(){
          $('a[data-toggle=tooltip]').tooltip();
         
      });
    </script>

  </body>

</html>
