<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <%- include('../partials/head') %>
    <meta name="description" content="Veja avaliações de produtos no Before Deciding, antes de decidir a sua compra." />
    <meta name="keywords" content="avaliações, avaliações de produtos, before deciding, comparador de avalições, reviews, reviews de produtos, comparador de reviews, avaliações de e-commerce" />
    <meta property="og:title" content="Before Deciding | Veja avaliações antes de comprar." />
    <meta property="og:description" content="Veja avaliações de produtos no Before Deciding, antes de decidir a sua compra." />
  </head>

  <body>

     <!-- Begin page content -->
    <div class="container-fluid">

      <nav class="navbar navbar-default navbar-fixed-top nav_bd" role="navigation">
        <row>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <%- include('../partials/nav_head') %> 
            <%- include('../offers/search_offers') %>
          </div>
        </row>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 div_slogan">
          <p class="text-muted"><%= slogan %></p>
        </div>
      </nav>  

      <!-- column 01 >> box reviews ,list reviews and pagination -->
      <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">     
        <!-- box_reviews -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <%- include('./box_reviews',{offer:head_reviews}); %> 
        </div>  
      
        <!-- hr -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height: 60px">
          <hr>
        </div>

        <!-- box offer prices mobile -->
        <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
          <div class="panel-group" role="tablist">
            <div class="panel panel-warning">
              <div class="panel-heading" role="tab" id="collapseListGroupHeading1">
                <h4 class="panel-title">
                  Onde comprar
                </h4>
              </div>
              <%- include('../offers/box_prices_offer',{offer:offers.docs[0]}); %> 
              <div id="collapseListGroup1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading1" aria-expanded="false" style="">
                <% for(var i=1; i <offers.docs.length; i++) { %> 
                  <%- include('../offers/box_prices_offer',{offer:offers.docs[i]}); %>      
                <% } %>
              </div>
            </div>
            <div class="panel-footer" style="text-align: center">
              <a class="" data-toggle="collapse"  href="#collapseListGroup1" aria-expanded="false" aria-controls="collapseListGroup1">
                   mais ofertas
              </a>
            </div>
          </div> 
          <br>        
        </div> 

        <!-- list reviews -->
        <% for(var i=0; i <reviews.docs.length; i++) { %> 
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <%- include('./list_reviews',{review:reviews.docs[i]}); %>
          </div>
        <% }  %>     
      
        <!-- pagination -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style=" text-align: center">
          <%- include('./pagination_reviews') %>
        </div>
      </div>

      <!-- style="position: fixed;right: 0px" -->
      <!-- coluns 02 >> box offer prices -->
      <div class="hidden-xs col-sm-5 col-md-4 col-lg-4">
        <div class="panel panel-warning" style="font-size: 15px;">
          <div class="panel-heading">Onde comprar</div>
            <% if (offers.docs.length == 1) { %>
              <%- include('../offers/box_prices_offer',{offer:offers.docs[0]}); %> 
            <% } else { %>
              <% for(var i=0; i <offers.docs.length; i++) { %> 
                <%- include('../offers/box_prices_offer',{offer:offers.docs[i]}); %>      
              <% }  %>
            <% }  %>           
          </div>
        </div>
      </div>

    </div>

    <footer class="footer">
      <div class="panel-footer"><%- include('../partials/footer') %></div>
    </footer>
    
     <!-- JavaScript Section -->
    <script type="text/javascript">
      $(document).ready(function(){
          $('a[data-toggle=tooltip]').tooltip();
         
      });
    </script>


  </body>

</html>
