<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <%- include('partials/head') %>
  </head>

  <body>

     <!-- Begin page content -->
    <div class="container-fluid">

      <%- include('offers/search_offers') %>

      <% if (typeof error != 'undefined') { %>

          <%- include('offers/search_offers') %>

          <div class="alert alert-warning" role="alert">
            <%= message %>
          </div>   
          
      <% } else { %>  
                    
            <% for(var i=0; i <offers.docs.length; i++) { %>
            
              <%# if ean exists %>

                <% if (i % 2 == 0) { %>
              
                  <row>
                  
                  <%- include('offers/box_offers',{offer:offers.docs[i]}); %>

                <% } else { %>  
                    
                   <%- include('offers/box_offers',{offer:offers.docs[i]}); %>
                   
                  </row>

                  <row>
                     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <br>
                     </div>
                  </row>
                <% } %>

            <% } %>


          <%- include('offers/pagination_offers') %>

        <% } %> 

    </div>

    <footer class="footer">
      <div class="panel-footer"><%- include('partials/footer') %></div>
    </footer>

    <script type="text/javascript" src="/js/offers.js"></script>

  </body>

</html>

