<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <%- include('partials/head') %>
  </head>

  <body>

     <!-- Begin page content -->
    <div class="container-fluid">

        <%- include('offers/search_offers') %>

        <%- include('reviews/list_reviews') %>

        <%- include('reviews/pagination_reviews') %>
    </div>

    <footer class="footer">
      <div class="panel-footer"><%- include('partials/footer') %></div>
    </footer>
    
  </body>

</html>
