<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <%- include('partials/head') %>
  </head>

  <body>

     <!-- Begin page content -->
    <div class="container-fluid">

      <%- include('offers/search_offers') %>

      <% for(var i=0; i <offers.docs.length; i++) { %>

        <% if (offers.docs[i]._id == offerSelected) { %>
           <%- include('reviews/box_reviews',{offer:offers.docs[i]}); %>   
        <% }  %>

      <% }  %>

      <% for(var i=0; i <reviews.docs.length; i++) { %>

          <%- include('reviews/list_reviews',{review:reviews.docs[i]}); %>

      <% }  %>

      <%- include('reviews/pagination_reviews') %>

    </div>

    <footer class="footer">
      <div class="panel-footer"><%- include('partials/footer') %></div>
    </footer>
    
     <!-- JavaScript Section -->
    <script type="text/javascript">
      $(document).ready(function(){
          $('a[data-toggle=tooltip]').tooltip();
      });
    </script>

  </body>

</html>
